<article>
    <h2 class="wrap-heading">Fairdeal Travels</h2>
   <!--  <div>
        <p align="justify"> <strong>Flight Reconfirmation:</strong> Outbound and return flights must be reconfirmed with the relevant airlines at least 72 hours prior to the commencement of that leg of the journey unless specifically informed otherwise by that airline. We accept no responsibility for bookings cancelled due to non-compliance with rules set by that particular airline. We also take no responsibility for any flight rescheduling en route. </p>
        <p align="justify"> <strong>Passports/Visas/Health Requirements:</strong> Prior to booking your trip, you should ensure that you meet the passport, visa, affidavit, health and other requirements of the countries you wish to visit and those that you transit (even if it is for a plane change).</p>
        <p align="justify"><strong>Canadian Citizens</strong> are required to present a current valid Canadian passport for entry or transit through most countries; otherwise , entry or transit may be denied. We remind you that living standards and practices at your travel destination and the conditions there with respect to the provision of utilities, services and accommodation may differ from those found in Canada. Please consult the Country Travel Reports and Tourist Visa Requirements Page found on the website of Canada Foreign Affairs and International Trade Canada at:
            <br> <a href="http://www.voyage.gc.ca/preparation_information/visas-eng.asp" target="_blank">http://www.voyage.gc.ca/preparation_information/visas-eng.asp</a> for all entry/exit requirements, travel tips and local health information.</p>
        <p align="justify"><strong>For Non-Residents of Canada or other nationalities</strong> please visit:
            <br> <a href="http://www.qantas.com.au/info/flying/beforeYouTravel/visaHealth" target="_blank">http://www.qantas.com.au/info/flying/beforeYouTravel/visaHealth</a> for additional information on individual entry/exit requirements. If you are not able to reference these sites please contact our call centre and we will be happy to respond to any questions you may have regarding individual travel documents and preparation.
            <br>
            <br> Please note that many countries require that your passport be valid for a period of (a minimum) six months beyond your return date (please see the chart below for easy reference). Obtaining passports and visas may require lengthy processing times and entry to another country may be refused even if your required information and travel documents are complete. We accept no responsibility if you should be denied boarding or deported for any reason including your age. You, the customer must be eighteen years of age (please note the restrictions below with respect to children travelling alone to Europe). If you are purchasing travel services for a customer that is not the age of majority in the applicable jurisdiction you must contact our call centre to arrange the purchase. Our contact details are available at
            <br> <a href="contact_us.html" target="_blank">contact.php</a></p>
        <p align="justify"><strong>For Travel to the following countries, Passports must be:</strong>
            <br> (Please note these are guidelines only and the validity of each country is subject to change without notification. Please consult the Country Travel Reports and Tourist Visa Requirements Page found on the <a href="http://www.voyage.gc.ca/preparation_information/visas-eng.asp" target="_blank">Canada Foreign Affairs and International Trade Canada</a> website for up to date information in regards to entry/exit requirements, travel tips and local health information.)</p>
        <p align="justify"><strong>For Travel to the following countries, Passports must be:</strong></p>
        <table id="air_l3" align="center" border="0">
            <tbody>
                <tr>
                    <th>Valid at least 1 month beyond your return date</th>
                    <th>Valid at least 3 months beyond your return date</th>
                    <th>Valid at least 6 months beyond your return date</th>
                </tr>
                <tr>
                    <td height="30">Cayman Islands</td>
                    <td width="33%">Aruba </td>
                    <td>Barbados</td>
                </tr>
                <tr>
                    <td height="30">Colombia</td>
                    <td width="33%">Italy</td>
                    <td>Belize</td>
                </tr>
                <tr>
                    <td height="30">Cuba</td>
                    <td width="33%">Portugal</td>
                    <td>Brazil</td>
                </tr>
                <tr>
                    <td height="30">Germany</td>
                    <td width="33%">Spain</td>
                    <td>Greece</td>
                </tr>
                <tr>
                    <td height="30">Jamaica</td>
                    <td>Costa Rica</td>
                    <td>Haiti</td>
                </tr>
                <tr>
                    <td height="30">Mexico</td>
                    <td>&nbsp;</td>
                    <td>Honduras</td>
                </tr>
                <tr>
                    <td height="30">Trinidad &amp; Tobago</td>
                    <td>&nbsp;</td>
                    <td>India</td>
                </tr>
                <tr>
                    <td height="30">UK</td>
                    <td>&nbsp;</td>
                    <td>Israel</td>
                </tr>
                <tr>
                    <td height="30">USA</td>
                    <td>&nbsp;</td>
                    <td>Liberia</td>
                </tr>
                <tr>
                    <td height="30">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>Margarita Island</td>
                </tr>
                <tr>
                    <td height="30">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>Panama</td>
                </tr>
                <tr>
                    <td height="30">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>Saint Kitts and Nevis</td>
                </tr>
                <tr>
                    <td height="30">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>San Andres</td>
                </tr>
                <tr>
                    <td height="30">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>Turks and Caicos</td>
                </tr>
                <tr>
                    <td height="30">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>Venezuela</td>
                </tr>
            </tbody>
        </table>
        <p align="justify"><strong>Unaccompanied minors</strong>
            <br>
            <br> It is the customer's responsibility to read and familiarize themselves in regards to children travelling unaccompanied without an adult over the age of 18 years. Please verify the unaccompanied minor rules and restrictions with the operating airline(s) prior to confirming your booking online. The specific unaccompanied minor service requirements vary from one airline to another. If you fail to meet these requirements, children will be denied boarding and will forfeit the entire fare paid. Please note that flights booked may be code share with other airlines therefore the operating carrier's rules and regulations will apply.
            <br>
            <br> Sky Lawn Travel will not be held responsible for any fees or passengers denied boarding due to the non compliance of the airlines rules and regulations regarding unaccompanied minors. </p>
        <p align="justify"><strong>Travelling to the UK via Air Transat (TS), Thomas Cook (TCX) and MY Travel Airways (MYT). </strong>Please note that the following restrictions have been put in place as of April 27, 2007 in regards to children travelling alone into Europe:
            <br>
            <br> For Air Transat Flights - Children will be accepted between the ages of 5 and 11 years of age For Thomas Cook Flights - Children will be accepted only above the age of 16. For My Travel Airways Flights - Children will be accepted only above the age of 16. </p>
        <p align="justify"><strong>Check-in / Boarding times</strong>
            <br>
            <br> We recommend that passengers allow plenty of time to check-in and obtain their boarding pass for their scheduled flight. Sky Lawn Travel will not be responsible for those passengers who check-in past the airline cut off times. Failure to meet check-in times may result in denied boarding, the loss of your assigned seat selection, cancellation of your full booking and the entire fare paid being forfeited with no option of re booking. Please reconfirm check-in cut off times with the airline directly as the suggested timings are guidelines only and are subject to change without notice.</p>
        <p><strong>Suggested Check in times </strong>
            <br>
            <br> Within Canada - 60-90 minutes prior to departure
            <br>
            <br> To/From US - 90-120 minutes prior to departure
            <br>
            <br> To/From International – 180-210 minutes prior to departure
            <br>
            <br> </p>
        <p align="justify"> <strong>Entry Requirements For United States: </strong> The department of Homeland Security of the United States of America has introduced new laws effective January 23, 2007 governing the entry requirements to the United States by air. These new laws include mandatory passports for all travelers including Canadian and American citizens. Please ensure that your passport is valid for at least 6 months past your desired return date to ensure that there are not any delays in regards to US Immigration. Please take the time to review the website link for the Department of Homeland Security at: <a href="http://www.dhs.gov/crossing-us-borders" target="_blank">http://www.dhs.gov/crossing-us-borders</a> For additional information on Canada – U.S. border regulations, please refer to the Canada Border Services Agency website at: <a href="http://www.cbsa-asfc.gc.ca/" target="_blank">http://www.cbsa-asfc.gc.ca/</a> If you have any questions about this, please do contact us and we will explain this further for you. </p>
        <p align="justify"> <strong>Insurance: </strong> We strongly recommend travel insurance to cover you for cancellation, health, baggage and other losses including out-of-province health insurance, if applicable. For every sale, Sky Lawn Travel offers the option to purchase travel insurance to cover the customer against any unforeseen circumstances that may occur prior to, during or after your trip. There are different types of insurance packages available and the purchase of insurance is an optional decision to the customer.
            <br>
            <br> It is the customers’ responsibility to read and familiarize themselves with the travel insurance policy to understand what their purchased travel insurance covers and under what conditions. If the customer wants to make an insurance claim it is their responsibility to contact Sky Lawn Travel as soon as possible. Please contact us if you require more information regarding travel insurance. </p>
        <p align="justify"> <strong>Cancellation / Changes: </strong>If you need to change or cancel your travel plans‚ it is your responsibility to notify us in writing of such a request. Notifying us is not enough in many cases as we have automated software to issue many of our tickets instantly. These tickets are discount tickets‚ which have restrictions on them and may be up to 100% non–refundable and non-changeable. Therefore you should assume all reservations are non-refundable the moment you make the booking. We charge a service fee for any changes or cancellations to fares. In addition to our charges‚ most airlines also have a penalty or cancellation fee for any changes or cancellations to fares. Furthermore‚ each ticket has a minimum and maximum stay validity period. Maximum stay can range from 30days to a maximum of 12months and minimum stay can range from 2 nights to 14 nights‚ depending on the itinerary and the type of ticket sold. Changes will not be permitted where the length of the ticket is less than the minimum stay or more than the maximum stay period. Also note‚ partially used tickets become 100% nonrefundable even if only one segment of the ticket is used.</p>
        <p align="justify"> <strong>Name Changes / Corrections: </strong>If the tickets have been issued‚ please note name changes and corrections are not permitted. Once the tickets have been issued and if permitted by the airline‚ an additional fee will be assessed by Sky Lawn Travel and the airline directly.
            <br>
            <br> Customers who do not appear or ‘no show’ for their flight will forfeit the entire fare paid. If you arrive at the airport late or are denied boarding you will forfeit the entire fare paid.</p>
        <p align="justify"> <strong>Lost Tickets: </strong> If you lose your tickets, it may be possible to re-issue them for a fee. The amount payable will depend on the circumstances of the loss and how close to the travel date you discover it. However, not all tickets can be re-issued; which is another good reason for ensuring you have sufficient insurance cover. Tickets will be dispatched to you in accordance with your instructions and we accept no responsibility for their delivery. </p>
        <p align="justify"> <strong>Frequent Flyer Programs: </strong> Almost all of our Airfares allow accumulation of frequent flyer miles. You enter your frequent flyer program and number in our booking process. Your frequent flyer information is sent to the airline once your ticket is issued. </p>
        <p align="justify"> <strong>Gift Cards: </strong> Not applicable on Transat Holidays and Nolitours bookings. This is a limited time offer and may be withdrawn without prior notice.</p>
        <p align="justify"> <strong>Hotels: </strong> Skylawntravel.com does not collect taxes for remittance to applicable taxing authorities. The tax recovery charges on prepaid hotel transactions are a recovery of the estimated transaction taxes (e.g. sales and use‚ occupancy‚ room tax‚ excise tax‚ value added tax‚ etc) that Skylawntravel.com pays to the hotel supplier in connection with your hotel reservation. The Hotel suppliers remit applicable taxes to the applicable taxing jurisdictions. Skylawntravel.com does not act as a co-vendor with the supplier with whom we reserve your travel arrangements. Taxability and the appropriate tax rates vary greatly by location. The actual tax amounts paid to the hotel suppliers may vary from the tax recovery charge amounts‚ depending upon the rates‚ taxability‚ etc. in effect at the time of actual use of the hotel by our customers.</p>
        <hr align="center" noshade="noshade" size="1" width="580">
        <p align="justify"> We are required and would be pleased to answer any questions that you may have concerning the foregoing. </p>
        <p align="justify"> <strong>USE OF SITE </strong>
            <br> You may only use this site to make legitimate inquiries or registration and shall not use this site to make any speculative, false or fraudulent statement in anticipation of collection information not generally available to the travel trade. </p>
        <hr align="center" noshade="noshade" size="1" width="580">
        <p align="justify"> <strong>ONLINE FARE RESERVATIONS, MISPRINTS, AND PRODUCT AVAILABILITY</strong>
            <br> In the event that more than one set of conditions apply to the same trip then the most restrictive conditions of both sets apply to the entire journey.
            <br>
            <br> While it is possible to make bookings electronically for some of the travel services, the act of reserving a product electronically does not imply a final confirmation or commitment by Sky Lawn Travel to actually deliver the product reserved at the prices indicated. Sky Lawn Travel, endeavors to provide current and accurate information on its website, however any misprints or errors may occur. Accordingly Sky Lawn Travel, reserves the right to change the prices, fees, charges regarding the goods and services available on its website at any time and from time to time without any notice or liability to the user or any other person. Also, Sky Lawn Travel, cannot guarantee that goods and services advertised on the website may be available when ordered or thereafter Sky Lawn Travel reserves the right at any time to reject, amend, cancel or terminate any order without prior notification.
            <br>
            <br> A final confirmation is only given by Sky Lawn Travel once the company has issued the airline tickets, a final invoice and delivered travel documents for the product reserved. Terms and conditions of the confirmation and sale will vary depending on the product reserved and are generally set out in the company's website or other notices issued from time to time. </p>
    </div> -->
</article>