<article>
    <h2 class="wrap-heading">Passport &amp; Visa Information</h2>
    <div class="pass-visa">
        <table width="100%" id="air_l">
            <tbody>
                <tr>
                    <td colspan="5" height="25">VISA INFORAMTION</td>
                </tr>
                <tr>
                    <th><a href="http://www.blsindia-canada.com/index.php" target="_blank">India</a></th>
                    <th><a href="#" target="_blank">Bangladesh</a></th>
                    <th><a href="#" target="_blank">US</a></th>
                    <th><a href="#" target="_blank">Pakistan</a></th>
                    <th><a href="#" target="_blank">United Kingdom</a></th>
                </tr>
            </tbody>
        </table>
    </div>
    <p></p>
    <div class="pass-visa">
        <table width="100%" id="air_l2" style="font-size:11px">
            <tbody>
                <tr>
                    <td width="570" height="25">PASSPORT INFORAMTION</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th align="left"> </th>
                </tr>
            </tbody>
        </table>
    </div>
    <p></p>
    <div class="pass-visa">
        <table width="100%" id="air_l2" style="font-size:11px">
            <tbody>
                <tr>
                    <td height="25" colspan="2">CREDIT CARD AUTHORIZATION</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                   
                </tr>
            </tbody>
        </table>
    </div>
</article>