
	<div class="container">
		<div class="row" style="margin-top: 20%;">
			<div class = "col-md-12">
		  		<div class = "row">
					<div class="col-md-3">
						<div class="tab">
						  <a class="tablinks" onclick="openCity(event, 'other_travel')" id="defaultOpen">Other Travel Info</a>
						  <a class="tablinks" onclick="openCity(event, 'baggage_info')">Baggage Info</a>
						  <a class="tablinks" onclick="openCity(event, 'passport_visa_info')">Passport &amp; Visa Info</a>
						  <a class="tablinks" onclick="openCity(event, 'airport_info')">Airport Info</a>
						  <a class="tablinks" onclick="openCity(event, 'airlines_info')">Airlines Info</a>
						</div>
					</div>
					<div class="col-md-9">
						<div id="other_travel" class="tabcontent">
							<%= render 'other_travel_info' %>
						</div>

						<div id="baggage_info" class="tabcontent">
						   <%= render 'baggage_info' %>
						</div>

						<div id="passport_visa_info" class="tabcontent">
						  <%= render 'passport_visa_info' %>
						</div>

						<div id="airport_info" class="tabcontent">
							<%= render 'airport_info' %>
						</div>

						<div id="airlines_info" class="tabcontent">
							<%= render 'airlines_info' %>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
<script>
	function openCity(evt, cityName) {
	    var i, tabcontent, tablinks;
	    tabcontent = document.getElementsByClassName("tabcontent");
	    for (i = 0; i < tabcontent.length; i++) {
	        tabcontent[i].style.display = "none";
	    }
	    tablinks = document.getElementsByClassName("tablinks");
	    for (i = 0; i < tablinks.length; i++) {
	        tablinks[i].className = tablinks[i].className.replace(" active", "");
	    }
	    document.getElementById(cityName).style.display = "block";
	    evt.currentTarget.className += " active";
	}

	// Get the element with id="defaultOpen" and click on it
	document.getElementById("defaultOpen").click();
</script>

<style type="text/css">
	.tab {
    float: left;
    display: block;
    width: 100%;
}
.tab a.active, .tab a:hover, .tab a:focus {
    border: 1px solid #f1f0f0 !important;
    position: relative;
    right: -2px;
    border-right: none !important;
    z-index: 99;
    font-weight: bold;
}

/* Style the buttons inside the tab */
.tab a {
	display: block;
	color: #000;
	margin: 0px;
	border: 1px solid #f1f0f0;
	line-height: 1.428571429;
	padding: 10px 15px;
	cursor: pointer;
}

.fee-chart table, table#air_l, .pass-visa table, .airline-site table {
    border-top: 1px solid #ebebeb;
}

.tabcontent table {
	width: 100%;
	margin-bottom: 25px;
	max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.tabcontent table tr th {
    font-size: 13px;
    line-height: normal;
    padding: 10px;
    background-color: rgba(204,204,204,0.4);
    border-right: 1px solid #ccc;
    text-align: center;
}

.tabcontent table tr td:first-child {
    border-left: 1px solid #ebebeb;
}
.tabcontent table tr td {
    font-size: 13px;
    line-height: normal;
    padding: 10px;
    border-right: 1px solid #ebebeb;
    text-align: center;
    border-bottom: 1px solid #ebebeb;
}

.pass-visa table tr th a, .pass-visa table tr th strong {
    color: #17459b;
}

ul#countriesList {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 100%;
}

ul#countriesList li {
    list-style: none;
    padding: 10px;
    display: block;
    width: 100%;
    float: left;
    background-color: rgba(204,204,204,0.12);
    margin-bottom: 3px;
}

</style>