

<!-- Main Slider -->
<div class="master-slider kb_wrapper" id="masterslider">
  <div class="ms-slide">
    <img src="/assets/img/blank.gif" alt="Image description"
         data-src="/assets/img-temp/1920x1280/img9.jpg">

   <!--  <div class="ms-layer u-ribbon-v1 text-uppercase g-pos-rel g-line-height-1_2 g-font-weight-700 g-font-size-16 g-font-size-18--md g-color-white g-theme-bg-black-v1 g-pa-10 g-mb-10"
         data-type="text"
         data-delay="10"
         data-effect="skewleft(50, 340)"
         data-ease="easeOutExpo"
         data-duration="2200">Only From
      <span class="g-color-primary">$150.00</span></div> -->

    <h3 class="ms-layer text-uppercase g-pos-rel g-line-height-1 g-font-weight-700 g-font-size-45 g-font-size-75--lg g-font-secondary g-color-white g-mb-10"
        data-type="text"
        data-delay="10"
        data-effect="skewright(50, 340)"
        data-ease="easeOutExpo"
        data-duration="2200">Karlovy Vary, Czech</h3>

    <div class="ms-layer g-pos-rel g-line-height-1_2 g-max-width-550"
         data-type="text"
         data-delay="30"
         data-effect="rotate3dbottom(100, 0, 0, 70)"
         data-ease="easeOutExpo"
         data-duration="2300">
      <p class="g-mb-20 g-font-size-default g-font-size-18--md g-color-white-opacity-0_8">Best Price Guarantee-Find our lowest price to destinations worldwide, guaranteed</p>
      <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 rounded-0 g-py-10 g-px-25" href="#!">Take a tour</a>
    </div>

    <img class="ms-thumb" src="/assets/img-temp/200x133/img9.jpg" alt="Image description">
  </div>

  <div class="ms-slide">
    <img src="/assets/img/blank.gif" alt="Image description"
         data-src="/assets/img-temp/1920x1280/img1.jpg">

 <!--    <div class="ms-layer u-ribbon-v1 text-uppercase g-pos-rel g-line-height-1_2 g-font-weight-700 g-font-size-16 g-font-size-18--md g-color-white g-theme-bg-black-v1 g-pa-10 g-mb-10"
         data-type="text"
         data-delay="10"
         data-effect="skewleft(50, 340)"
         data-ease="easeOutExpo"
         data-duration="2200">Only From
      <span class="g-color-primary">$550.00</span></div> -->

    <h3 class="ms-layer text-uppercase g-pos-rel g-line-height-1 g-font-weight-700 g-font-size-45 g-font-size-75--lg g-font-secondary g-color-white g-mb-10"
        data-type="text"
        data-delay="10"
        data-effect="skewright(50, 340)"
        data-ease="easeOutExpo"
        data-duration="2200">London, Great Britain</h3>

    <div class="ms-layer g-pos-rel g-line-height-1_2 g-max-width-550"
         data-type="text"
         data-delay="30"
         data-effect="rotate3dbottom(100, 0, 0, 70)"
         data-ease="easeOutExpo"
         data-duration="2300">
      <p class="g-mb-20 g-font-size-18 g-color-white-opacity-0_8">Easy Booking-Search, select and save - the fastest way to book your trip</p>
      <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 rounded-0 g-py-10 g-px-25" href="#!">Take a tour</a>
    </div>

    <img class="ms-thumb" src="/assets/img-temp/200x133/img1.jpg" alt="Image description">
  </div>

  <div class="ms-slide">
    <img src="/assets/img/blank.gif" alt="Image description"
         data-src="/assets/img-temp/1920x1280/img10.jpg">

<!--     <div class="ms-layer u-ribbon-v1 text-uppercase g-pos-rel g-line-height-1_2 g-font-weight-700 g-font-size-16 g-font-size-18--md g-color-white g-theme-bg-black-v1 g-pa-10 g-mb-10"
         data-type="text"
         data-delay="10"
         data-effect="skewleft(50, 340)"
         data-ease="easeOutExpo"
         data-duration="2200">Only From
      <span class="g-color-primary">$360.00</span></div> -->

    <h3 class="ms-layer text-uppercase g-pos-rel g-line-height-1 g-font-weight-700 g-font-size-45 g-font-size-75--lg g-font-secondary g-color-white g-mb-10"
        data-type="text"
        data-delay="10"
        data-effect="skewright(50, 340)"
        data-ease="easeOutExpo"
        data-duration="2200">Crete, Greece</h3>

    <div class="ms-layer g-pos-rel g-line-height-1_2 g-max-width-550"
         data-type="text"
         data-delay="30"
         data-effect="rotate3dbottom(100, 0, 0, 70)"
         data-ease="easeOutExpo"
         data-duration="2300">
      <p class="g-mb-20 g-font-size-18 g-color-white-opacity-0_8">24/7 Customer Care - Get great service and special deals by calling at +1 613-686-1233 </p>
      <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 rounded-0 g-py-10 g-px-25" href="#!">Take a tour</a>
    </div>

    <img class="ms-thumb" src="/assets/img-temp/200x133/img10.jpg" alt="Image description">
  </div>

  <div class="ms-slide">
    <img src="/assets/img/blank.gif" alt="Image description"
         data-src="/assets/img-temp/1920x1280/img7.jpg">

 <!--    <div class="ms-layer u-ribbon-v1 text-uppercase g-pos-rel g-line-height-1_2 g-font-weight-700 g-font-size-16 g-font-size-18--md g-color-white g-theme-bg-black-v1 g-pa-10 g-mb-10"
         data-type="text"
         data-delay="10"
         data-effect="skewleft(50, 340)"
         data-ease="easeOutExpo"
         data-duration="2200">Only From
      <span class="g-color-primary">$1300.00</span></div> -->

    <h3 class="ms-layer text-uppercase g-pos-rel g-line-height-1 g-font-weight-700 g-font-size-45 g-font-size-75--lg g-font-secondary g-color-white g-mb-10"
        data-type="text"
        data-delay="10"
        data-effect="skewright(50, 340)"
        data-ease="easeOutExpo"
        data-duration="2200">Langkwai, Malaysia</h3>

    <div class="ms-layer g-pos-rel g-line-height-1_2 g-max-width-550"
         data-type="text"
         data-delay="30"
         data-effect="rotate3dbottom(100, 0, 0, 70)"
         data-ease="easeOutExpo"
         data-duration="2300">
      <p class="g-mb-20 g-font-size-18 g-color-white-opacity-0_8">Easy Booking-Search, select and save - the fastest way to book your trip</p>
      <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 rounded-0 g-py-10 g-px-25" href="#!">Take a tour</a>
    </div>

    <img class="ms-thumb" src="/assets/img-temp/200x133/img7.jpg" alt="Image description">
  </div>

  <div class="ms-slide">
    <img src="/assets/img/blank.gif" alt="Image description"
         data-src="/assets/img-temp/1920x1280/img4.jpg">

  <!--   <div class="ms-layer u-ribbon-v1 text-uppercase g-pos-rel g-line-height-1_2 g-font-weight-700 g-font-size-16 g-font-size-18--md g-color-white g-theme-bg-black-v1 g-pa-10 g-mb-10"
         data-type="text"
         data-delay="10"
         data-effect="skewleft(50, 340)"
         data-ease="easeOutExpo"
         data-duration="2200">Only From
      <span class="g-color-primary">$1300.00</span></div> -->

    <h3 class="ms-layer text-uppercase g-pos-rel g-line-height-1 g-font-weight-700 g-font-size-45 g-font-size-75--lg g-font-secondary g-color-white g-mb-10"
        data-type="text"
        data-delay="10"
        data-effect="skewright(50, 340)"
        data-ease="easeOutExpo"
        data-duration="2200">Bavaria, Germany</h3>

    <div class="ms-layer g-pos-rel g-line-height-1_2 g-max-width-550"
         data-type="text"
         data-delay="30"
         data-effect="rotate3dbottom(100, 0, 0, 70)"
         data-ease="easeOutExpo"
         data-duration="2300">
      <p class="g-mb-20 g-font-size-18 g-color-white-opacity-0_8">Best Price Guarantee-Find our lowest price to destinations worldwide, guaranteed</p>
      <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 rounded-0 g-py-10 g-px-25" href="#!">Take a tour</a>
    </div>

    <img class="ms-thumb" src="/assets/img-temp/200x133/img4.jpg" alt="Image description">
  </div>

  <div class="ms-slide">
    <img src="/assets/img/blank.gif" alt="Image description"
         data-src="/assets/img-temp/1920x1280/img3.jpg">

 <!--    <div class="ms-layer u-ribbon-v1 text-uppercase g-pos-rel g-line-height-1_2 g-font-weight-700 g-font-size-16 g-font-size-18--md g-color-white g-theme-bg-black-v1 g-pa-10 g-mb-10"
         data-type="text"
         data-delay="10"
         data-effect="skewleft(50, 340)"
         data-ease="easeOutExpo"
         data-duration="2200">Only From
      <span class="g-color-primary">$610.00</span></div> -->

    <h3 class="ms-layer text-uppercase g-pos-rel g-line-height-1 g-font-weight-700 g-font-size-45 g-font-size-75--lg g-font-secondary g-color-white g-mb-10"
        data-type="text"
        data-delay="10"
        data-effect="skewright(50, 340)"
        data-ease="easeOutExpo"
        data-duration="2200">Paris, France</h3>

    <div class="ms-layer g-pos-rel g-line-height-1_2 g-max-width-550"
         data-type="text"
         data-delay="30"
         data-effect="rotate3dbottom(100, 0, 0, 70)"
         data-ease="easeOutExpo"
         data-duration="2300">
      <p class="g-mb-20 g-font-size-18 g-color-white-opacity-0_8">24/7 Customer Care - Get great service and special deals by calling at +1 613-686-1233 </p>
      <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 rounded-0 g-py-10 g-px-25" href="#!">Take a tour</a>
    </div>

    <img class="ms-thumb" src="/assets/img-temp/200x133/img3.jpg" alt="Image description">
  </div>

  <div class="ms-slide">
    <img src="/assets/img/blank.gif" alt="Image description"
         data-src="/assets/img-temp/1920x1280/img8.jpg">

<!--     <div class="ms-layer u-ribbon-v1 text-uppercase g-pos-rel g-line-height-1_2 g-font-weight-700 g-font-size-16 g-font-size-18--md g-color-white g-theme-bg-black-v1 g-pa-10 g-mb-10"
         data-type="text"
         data-delay="10"
         data-effect="skewleft(50, 340)"
         data-ease="easeOutExpo"
         data-duration="2200">Only From
      <span class="g-color-primary">$340.00</span></div> -->

    <h3 class="ms-layer text-uppercase g-pos-rel g-line-height-1 g-font-weight-700 g-font-size-45 g-font-size-75--lg g-font-secondary g-color-white g-mb-10"
        data-type="text"
        data-delay="10"
        data-effect="skewright(50, 340)"
        data-ease="easeOutExpo"
        data-duration="2200">Hong Kong</h3>

    <div class="ms-layer g-pos-rel g-line-height-1_2 g-max-width-550"
         data-type="text"
         data-delay="30"
         data-effect="rotate3dbottom(100, 0, 0, 70)"
         data-ease="easeOutExpo"
         data-duration="2300">
      <p class="g-mb-20 g-font-size-18 g-color-white-opacity-0_8">Easy Booking-Search, select and save - the fastest way to book your trip</p>
      <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 rounded-0 g-py-10 g-px-25" href="#!">Take a tour</a>
    </div>

    <img class="ms-thumb" src="/assets/img-temp/200x133/img8.jpg" alt="Image description">
  </div>

  <div class="ms-slide">
    <img src="/assets/img/blank.gif" alt="Image description"
         data-src="/assets/img-temp/1920x1280/img5.jpg">
<!-- 
    <div class="ms-layer u-ribbon-v1 text-uppercase g-pos-rel g-line-height-1_2 g-font-weight-700 g-font-size-16 g-font-size-18--md g-color-white g-theme-bg-black-v1 g-pa-10 g-mb-10"
         data-type="text"
         data-delay="10"
         data-effect="skewleft(50, 340)"
         data-ease="easeOutExpo"
         data-duration="2200">Only From
      <span class="g-color-primary">$2400.00</span></div> -->

    <h3 class="ms-layer text-uppercase g-pos-rel g-line-height-1 g-font-weight-700 g-font-size-45 g-font-size-75--lg g-font-secondary g-color-white g-mb-10"
        data-type="text"
        data-delay="10"
        data-effect="skewright(50, 340)"
        data-ease="easeOutExpo"
        data-duration="2200">Venice, Italy</h3>

    <div class="ms-layer g-pos-rel g-line-height-1_2 g-max-width-550"
         data-type="text"
         data-delay="30"
         data-effect="rotate3dbottom(100, 0, 0, 70)"
         data-ease="easeOutExpo"
         data-duration="2300">
      <p class="g-mb-20 g-font-size-18 g-color-white-opacity-0_8">Best Price Guarantee-Find our lowest price to destinations worldwide, guaranteed</p>
      <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 rounded-0 g-py-10 g-px-25" href="#!">Take a tour</a>
    </div>

    <img class="ms-thumb" src="/assets/img-temp/200x133/img5.jpg" alt="Image description">
  </div>

  <div class="ms-slide">
    <img src="/assets/img/blank.gif" alt="Image description"
         data-src="/assets/img-temp/1920x1280/img6.jpg">

<!--     <div class="ms-layer u-ribbon-v1 text-uppercase g-pos-rel g-line-height-1_2 g-font-weight-700 g-font-size-16 g-font-size-18--md g-color-white g-theme-bg-black-v1 g-pa-10 g-mb-10"
         data-type="text"
         data-delay="10"
         data-effect="skewleft(50, 340)"
         data-ease="easeOutExpo"
         data-duration="2200">Only From
      <span class="g-color-primary">$540.00</span></div> -->

    <h3 class="ms-layer text-uppercase g-pos-rel g-line-height-1 g-font-weight-700 g-font-size-45 g-font-size-75--lg g-font-secondary g-color-white g-mb-10"
        data-type="text"
        data-delay="10"
        data-effect="skewright(50, 340)"
        data-ease="easeOutExpo"
        data-duration="2200">Madrid, Spain</h3>

    <div class="ms-layer g-pos-rel g-line-height-1_2 g-max-width-550"
         data-type="text"
         data-delay="30"
         data-effect="rotate3dbottom(100, 0, 0, 70)"
         data-ease="easeOutExpo"
         data-duration="2300">
      <p class="g-mb-20 g-font-size-18 g-color-white-opacity-0_8">24/7 Customer Care - Get great service and special deals by calling at +1 613-686-1233 </p>
      <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 rounded-0 g-py-10 g-px-25" href="#!">Take a tour</a>
    </div>

    <img class="ms-thumb" src="/assets/img-temp/200x133/img6.jpg" alt="Image description">
  </div>

  <div class="ms-slide">
    <img src="/assets/img/blank.gif" alt="Image description"
         data-src="/assets/img-temp/1920x1280/img2.jpg">

 <!--    <div class="ms-layer u-ribbon-v1 text-uppercase g-pos-rel g-line-height-1_2 g-font-weight-700 g-font-size-16 g-font-size-18--md g-color-white g-theme-bg-black-v1 g-pa-10 g-mb-10"
         data-type="text"
         data-delay="10"
         data-effect="skewleft(50, 340)"
         data-ease="easeOutExpo"
         data-duration="2200">Only From
      <span class="g-color-primary">$5240.00</span></div> -->

    <h3 class="ms-layer text-uppercase g-pos-rel g-line-height-1 g-font-weight-700 g-font-size-45 g-font-size-75--lg g-font-secondary g-color-white g-mb-10"
        data-type="text"
        data-delay="10"
        data-effect="skewright(50, 340)"
        data-ease="easeOutExpo"
        data-duration="2200">New York, USA</h3>

    <div class="ms-layer g-pos-rel g-line-height-1_2 g-max-width-550"
         data-type="text"
         data-delay="30"
         data-effect="rotate3dbottom(100, 0, 0, 70)"
         data-ease="easeOutExpo"
         data-duration="2300">
      <p class="g-mb-20 g-font-size-18 g-color-white-opacity-0_8">24/7 Customer Care - Get great service and special deals by calling at +1 613-686-1233 </p>
      <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 rounded-0 g-py-10 g-px-25" href="#!">Take a tour</a>
    </div>

    <img class="ms-thumb" src="/assets/img-temp/200x133/img2.jpg" alt="Image description">
  </div>
</div>
<!-- End Main Slider -->

<!-- Section Content -->
<!-- <section class="g-bg2colors-primary-black-v1">
  <div class="container">
    <div class="row">
      <div class="col-md-3 g-flex-centered g-theme-bg-black-v1 g-py-50">
        <h2 class="text-uppercase g-line-height-1_2 g-font-weight-700 g-font-size-26 g-font-secondary g-color-white mb-0">
          <em class="d-block g-font-style-normal g-font-size-11 g-color-primary g-mb-5">Book information</em>
          Tour's search</h2>
      </div>

      <div class="col-md-9 g-bg-primary g-py-50">
        <form class="g-px-15">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group g-font-secondary g-color-white g-mb-20 g-mb-0--md">
                <label class="text-uppercase g-font-weight-700 g-font-size-11 g-mb-10">Destination</label>

                <div class="input-group g-brd-primary--focus">
                  <select class="js-custom-select form-control u-form-control u-select-v1 g-color-white g-font-size-15 g-brd-none g-bg-primary-dark-v1 rounded-0 g-py-10 g-px-15" style="width: 100%;"
                          data-placeholder="Destination"
                          data-open-icon="fa fa-caret-down"
                          data-close-icon="fa fa-caret-up">
                    <option></option>
                    <option value="Department1">India</option>
                    <option value="Department2">Europe</option>
                    <option value="Department3">Canada</option>
                    <option value="Department4">United States</option>
                    <option value="Department4">United Kingdom</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group g-font-secondary g-color-white g-mb-20 g-mb-0--md">
                <label class="text-uppercase g-font-weight-700 g-font-size-11 g-mb-10">Date</label>

                <div class="input-group g-brd-primary--focus">
                  <input class="js-datepicker form-control u-form-control u-datepicker-v1 g-color-white g-font-size-15 g-placeholder-inherit g-brd-none g-bg-primary-dark-v1 rounded-0 pr-0" type="text" placeholder="DD/MM/YY">

                  <div class="input-group-addon rounded-0 d-flex align-items-center g-color-white g-placeholder-inherit g-bg-primary-dark-v1 g-brd-none">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group g-font-secondary g-color-white g-mb-20 g-mb-0--md">
                <label class="text-uppercase g-font-weight-700 g-font-size-11 g-mb-10">Persons</label>

                <div class="input-group">
                  <input class="form-control u-form-control g-color-white g-font-size-15 g-placeholder-inherit g-brd-none g-bg-primary-dark-v1 rounded-0 pr-0" type="text" placeholder="Number of persons">

                  <div class="input-group-addon rounded-0 d-flex align-items-center g-color-white g-placeholder-inherit g-bg-primary-dark-v1 g-brd-none">
                    <i class="fa fa-users"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group g-font-secondary g-color-white g-mb-20 g-mb-0--md">
                <label class="d-block text-uppercase g-hidden-xs-down g-font-weight-700 g-font-size-11 g-mb-10">&nbsp;</label>

                <button class="btn btn-md text-uppercase u-btn-theme-black-v1 g-font-weight-700 g-font-size-12 rounded-0 g-py-13 g-px-25" type="submit" role="button">Search</button>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group g-font-secondary g-color-white g-mb-20 g-mb-0--md">
                <label class="text-uppercase g-font-weight-700 g-font-size-11 g-mb-10">Single/Return</label>

                <div class="input-group g-brd-primary--focus">
                  <select class="js-custom-select form-control u-form-control u-select-v1 g-color-white g-font-size-15 g-brd-none g-bg-primary-dark-v1 rounded-0 g-py-10 g-px-15" style="width: 100%;"
                          data-placeholder="Trip Details"
                          data-open-icon="fa fa-caret-down"
                          data-close-icon="fa fa-caret-up">
                    <option></option>
                    <option value="Department1">Single</option>
                    <option value="Department2">Return</option>
                    <option value="Department3">Multiple Journey </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group g-font-secondary g-color-white g-mb-20 g-mb-0--md">
                <label class="text-uppercase g-font-weight-700 g-font-size-11 g-mb-10">Return Date</label>

                <div class="input-group g-brd-primary--focus">
                  <input class="js-datepicker form-control u-form-control u-datepicker-v1 g-color-white g-font-size-15 g-placeholder-inherit g-brd-none g-bg-primary-dark-v1 rounded-0 pr-0" type="text" placeholder="DD/MM/YY">

                  <div class="input-group-addon rounded-0 d-flex align-items-center g-color-white g-placeholder-inherit g-bg-primary-dark-v1 g-brd-none">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group g-font-secondary g-color-white g-mb-20 g-mb-0--md">
                <label class="text-uppercase g-font-weight-700 g-font-size-11 g-mb-10">Persons</label>

                <div class="input-group">
                  <input class="form-control u-form-control g-color-white g-font-size-15 g-placeholder-inherit g-brd-none g-bg-primary-dark-v1 rounded-0 pr-0" type="text" placeholder="Number of persons">

                  <div class="input-group-addon rounded-0 d-flex align-items-center g-color-white g-placeholder-inherit g-bg-primary-dark-v1 g-brd-none">
                    <i class="fa fa-users"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group g-font-secondary g-color-white g-mb-20 g-mb-0--md">
                <label class="d-block text-uppercase g-hidden-xs-down g-font-weight-700 g-font-size-11 g-mb-10">&nbsp;</label>

              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</section> -->
<!-- End Section Content -->

<!-- Section Content -->
<section id="ourTours" class="g-theme-bg-gray-light-v1 g-py-90">
  <div class="container g-max-width-780 text-center">
    <div class="u-heading-v8-2 g-mb-40">
      <h2 class="text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-40 mb-0">
        <strong class="h6 d-inline-block g-theme-bg-black-v1 g-color-white g-mb-20">Our tours</strong>
        <br><span class="g-color-primary">We can</span> offer
      </h2>
    </div>
  </div>

  <!-- Product Blocks -->
  <div class="js-carousel g-px-25"
       data-infinite="true"
       data-slides-show="5"
       data-arrows-classes="u-arrow-v1 g-absolute-centered--y g-width-45 g-height-45 g-font-size-default g-color-white g-bg-primary g-theme-bg-black-v1--hover"
       data-arrow-left-classes="fa fa-chevron-left g-left-0"
       data-arrow-right-classes="fa fa-chevron-right g-right-0"
       data-responsive='[{
         "breakpoint": 1200,
         "settings": {
           "slidesToShow": 5
         }
       }, {
         "breakpoint": 992,
         "settings": {
           "slidesToShow": 3
         }
       }, {
         "breakpoint": 768,
         "settings": {
           "slidesToShow": 2
         }
       }, {
         "breakpoint": 576,
         "settings": {
           "slidesToShow": 1
         }
       }]'>
    <div class="js-slide g-px-7">
      <a class="d-block g-pos-rel g-text-underline--none--hover g-parent g-theme-bg-black-v1 g-bg-primary--hover g-color-white g-transition-0_3" href="#!">
        <div class="u-bg-overlay g-bg-black-opacity-0_3--after">
          <img class="img-fluid" src="/assets/img-temp/600x600/img1.jpg" alt="Image description">
        </div>

        <div class="g-pa-20">
          <div class="g-mb-20">
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-font-secondary g-color-white g-mb-5">Crete</h3>

            <div class="js-rating info-v5-6__rating g-transition-0_3 g-color-primary g-theme-color-black-v1--parent-hover g-font-size-default g-mb-10"
                 data-rating="2.5"
                 data-spacing="5"></div>

            <p class="g-color-white-opacity-0_8">Contact Us</p>
          </div>

         <!--  <strong class="d-inline-block g-line-height-1 g-font-weight-700 g-font-size-11 g-bg-primary g-theme-bg-black-v1--parent-hover g-pa-10" href="#!">$350.00</strong> -->
        </div>
      </a>
    </div>

    <div class="js-slide g-px-7">
      <a class="d-block g-pos-rel g-text-underline--none--hover g-parent g-theme-bg-black-v1 g-bg-primary--hover g-color-white g-transition-0_3" href="#!">
        <div class="u-bg-overlay g-bg-black-opacity-0_3--after">
          <img class="img-fluid" src="/assets/img-temp/600x600/img2.jpg" alt="Image description">
        </div>

        <div class="g-pa-20">
          <div class="g-mb-20">
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-font-secondary g-color-white g-mb-5">Langkawi</h3>

            <div class="js-rating info-v5-6__rating g-transition-0_3 g-color-primary g-theme-color-black-v1--parent-hover g-font-size-default g-mb-10"
                 data-rating="3"
                 data-spacing="5"></div>

            <p class="g-color-white-opacity-0_8">Contact Us</p>
          </div>

         <!--  <strong class="d-inline-block g-line-height-1 g-font-weight-700 g-font-size-11 g-bg-primary g-theme-bg-black-v1--parent-hover g-pa-10" href="#!">$350.00</strong> -->
        </div>
      </a>
    </div>

    <div class="js-slide g-px-7">
      <a class="d-block g-pos-rel g-text-underline--none--hover g-parent g-theme-bg-black-v1 g-bg-primary--hover g-color-white g-transition-0_3" href="#!">
        <div class="u-bg-overlay g-bg-black-opacity-0_3--after">
          <img class="img-fluid" src="/assets/img-temp/600x600/img3.jpg" alt="Image description">
        </div>

        <div class="g-pa-20">
          <div class="g-mb-20">
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-font-secondary g-color-white g-mb-5">Paris</h3>

            <div class="js-rating info-v5-6__rating g-transition-0_3 g-color-primary g-theme-color-black-v1--parent-hover g-font-size-default g-mb-10"
                 data-rating="5"
                 data-spacing="5"></div>

            <p class="g-color-white-opacity-0_8">Contact Us</p>
          </div>
<!-- 
          <strong class="d-inline-block g-line-height-1 g-font-weight-700 g-font-size-11 g-bg-primary g-theme-bg-black-v1--parent-hover g-pa-10" href="#!">$350.00</strong> -->
        </div>
      </a>
    </div>

    <div class="js-slide g-px-7">
      <a class="d-block g-pos-rel g-text-underline--none--hover g-parent g-theme-bg-black-v1 g-bg-primary--hover g-color-white g-transition-0_3" href="#!">
        <div class="u-bg-overlay g-bg-black-opacity-0_3--after">
          <img class="img-fluid" src="/assets/img-temp/600x600/img4.jpg" alt="Image description">
        </div>

        <div class="g-pa-20">
          <div class="g-mb-20">
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-font-secondary g-color-white g-mb-5">Venice</h3>

            <div class="js-rating info-v5-6__rating g-transition-0_3 g-color-primary g-theme-color-black-v1--parent-hover g-font-size-default g-mb-10"
                 data-rating="3.5"
                 data-spacing="5"></div>

            <p class="g-color-white-opacity-0_8">Contact Us</p>
          </div>

<!--           <strong class="d-inline-block g-line-height-1 g-font-weight-700 g-font-size-11 g-bg-primary g-theme-bg-black-v1--parent-hover g-pa-10" href="#!">$350.00</strong> -->
        </div>
      </a>
    </div>

    <div class="js-slide g-px-7">
      <a class="d-block g-pos-rel g-text-underline--none--hover g-parent g-theme-bg-black-v1 g-bg-primary--hover g-color-white g-transition-0_3" href="#!">
        <div class="u-bg-overlay g-bg-black-opacity-0_3--after">
          <img class="img-fluid" src="/assets/img-temp/600x600/img1.jpg" alt="Image description">
        </div>

        <div class="g-pa-20">
          <div class="g-mb-20">
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-font-secondary g-color-white g-mb-5">London</h3>

            <div class="js-rating info-v5-6__rating g-transition-0_3 g-color-primary g-theme-color-black-v1--parent-hover g-font-size-default g-mb-10"
                 data-rating="4"
                 data-spacing="5"></div>

            <p class="g-color-white-opacity-0_8">Contact Us</p>
          </div>

          <!-- <strong class="d-inline-block g-line-height-1 g-font-weight-700 g-font-size-11 g-bg-primary g-theme-bg-black-v1--parent-hover g-pa-10" href="#!">$350.00</strong> -->
        </div>
      </a>
    </div>

    <div class="js-slide g-px-7">
      <a class="d-block g-pos-rel g-text-underline--none--hover g-parent g-theme-bg-black-v1 g-bg-primary--hover g-color-white g-transition-0_3" href="#!">
        <div class="u-bg-overlay g-bg-black-opacity-0_3--after">
          <img class="img-fluid" src="/assets/img-temp/600x600/img1.jpg" alt="Image description">
        </div>

        <div class="g-pa-20">
          <div class="g-mb-20">
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-font-secondary g-color-white g-mb-5">Rome</h3>

            <div class="js-rating info-v5-6__rating g-transition-0_3 g-color-primary g-theme-color-black-v1--parent-hover g-font-size-default g-mb-10"
                 data-rating="3.5"
                 data-spacing="5"></div>

            <p class="g-color-white-opacity-0_8">Contact Us</p>
          </div>

      <!--     <strong class="d-inline-block g-line-height-1 g-font-weight-700 g-font-size-11 g-bg-primary g-theme-bg-black-v1--parent-hover g-pa-10" href="#!">$350.00</strong> -->
        </div>
      </a>
    </div>

    <div class="js-slide g-px-7">
      <a class="d-block g-pos-rel g-text-underline--none--hover g-parent g-theme-bg-black-v1 g-bg-primary--hover g-color-white g-transition-0_3" href="#!">
        <div class="u-bg-overlay g-bg-black-opacity-0_3--after">
          <img class="img-fluid" src="/assets/img-temp/600x600/img1.jpg" alt="Image description">
        </div>

        <div class="g-pa-20">
          <div class="g-mb-20">
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-font-secondary g-color-white g-mb-5">Crete</h3>

            <div class="js-rating info-v5-6__rating g-transition-0_3 g-color-primary g-theme-color-black-v1--parent-hover g-font-size-default g-mb-10"
                 data-rating="2.5"
                 data-spacing="5"></div>

            <p class="g-color-white-opacity-0_8">Contact Us</p>
          </div>

<!--           <strong class="d-inline-block g-line-height-1 g-font-weight-700 g-font-size-11 g-bg-primary g-theme-bg-black-v1--parent-hover g-pa-10" href="#!">$350.00</strong> -->
        </div>
      </a>
    </div>

    <div class="js-slide g-px-7">
      <a class="d-block g-pos-rel g-text-underline--none--hover g-parent g-theme-bg-black-v1 g-bg-primary--hover g-color-white g-transition-0_3" href="#!">
        <div class="u-bg-overlay g-bg-black-opacity-0_3--after">
          <img class="img-fluid" src="/assets/img-temp/600x600/img2.jpg" alt="Image description">
        </div>

        <div class="g-pa-20">
          <div class="g-mb-20">
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-font-secondary g-color-white g-mb-5">Langkawi</h3>

            <div class="js-rating info-v5-6__rating g-transition-0_3 g-color-primary g-theme-color-black-v1--parent-hover g-font-size-default g-mb-10"
                 data-rating="3"
                 data-spacing="5"></div>

            <p class="g-color-white-opacity-0_8">Contact Us</p>
          </div>

   <!--        <strong class="d-inline-block g-line-height-1 g-font-weight-700 g-font-size-11 g-bg-primary g-theme-bg-black-v1--parent-hover g-pa-10" href="#!">$350.00</strong> -->
        </div>
      </a>
    </div>

    <div class="js-slide g-px-7">
      <a class="d-block g-pos-rel g-text-underline--none--hover g-parent g-theme-bg-black-v1 g-bg-primary--hover g-color-white g-transition-0_3" href="#!">
        <div class="u-bg-overlay g-bg-black-opacity-0_3--after">
          <img class="img-fluid" src="/assets/img-temp/600x600/img3.jpg" alt="Image description">
        </div>

        <div class="g-pa-20">
          <div class="g-mb-20">
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-font-secondary g-color-white g-mb-5">Paris</h3>

            <div class="js-rating info-v5-6__rating g-transition-0_3 g-color-primary g-theme-color-black-v1--parent-hover g-font-size-default g-mb-10"
                 data-rating="5"
                 data-spacing="5"></div>

            <p class="g-color-white-opacity-0_8">Contact Us</p>
          </div>
<!-- 
          <strong class="d-inline-block g-line-height-1 g-font-weight-700 g-font-size-11 g-bg-primary g-theme-bg-black-v1--parent-hover g-pa-10" href="#!">$350.00</strong> -->
        </div>
      </a>
    </div>

    <div class="js-slide g-px-7">
      <a class="d-block g-pos-rel g-text-underline--none--hover g-parent g-theme-bg-black-v1 g-bg-primary--hover g-color-white g-transition-0_3" href="#!">
        <div class="u-bg-overlay g-bg-black-opacity-0_3--after">
          <img class="img-fluid" src="/assets/img-temp/600x600/img4.jpg" alt="Image description">
        </div>

        <div class="g-pa-20">
          <div class="g-mb-20">
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-font-secondary g-color-white g-mb-5">Venice</h3>

            <div class="js-rating info-v5-6__rating g-transition-0_3 g-color-primary g-theme-color-black-v1--parent-hover g-font-size-default g-mb-10"
                 data-rating="3.5"
                 data-spacing="5"></div>

            <p class="g-color-white-opacity-0_8">Contact Us</p>
          </div>
<!-- 
          <strong class="d-inline-block g-line-height-1 g-font-weight-700 g-font-size-11 g-bg-primary g-theme-bg-black-v1--parent-hover g-pa-10" href="#!">$350.00</strong> -->
        </div>
      </a>
    </div>

    <div class="js-slide g-px-7">
      <a class="d-block g-pos-rel g-text-underline--none--hover g-parent g-theme-bg-black-v1 g-bg-primary--hover g-color-white g-transition-0_3" href="#!">
        <div class="u-bg-overlay g-bg-black-opacity-0_3--after">
          <img class="img-fluid" src="/assets/img-temp/600x600/img1.jpg" alt="Image description">
        </div>

        <div class="g-pa-20">
          <div class="g-mb-20">
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-font-secondary g-color-white g-mb-5">London</h3>

            <div class="js-rating info-v5-6__rating g-transition-0_3 g-color-primary g-theme-color-black-v1--parent-hover g-font-size-default g-mb-10"
                 data-rating="4"
                 data-spacing="5"></div>

            <p class="g-color-white-opacity-0_8">Contact Us</p>
          </div>

     <!--      <strong class="d-inline-block g-line-height-1 g-font-weight-700 g-font-size-11 g-bg-primary g-theme-bg-black-v1--parent-hover g-pa-10" href="#!">$350.00</strong> -->
        </div>
      </a>
    </div>

    <div class="js-slide g-px-7">
      <a class="d-block g-pos-rel g-text-underline--none--hover g-parent g-theme-bg-black-v1 g-bg-primary--hover g-color-white g-transition-0_3" href="#!">
        <div class="u-bg-overlay g-bg-black-opacity-0_3--after">
          <img class="img-fluid" src="/assets/img-temp/600x600/img1.jpg" alt="Image description">
        </div>

        <div class="g-pa-20">
          <div class="g-mb-20">
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-font-secondary g-color-white g-mb-5">Rome</h3>

            <div class="js-rating info-v5-6__rating g-transition-0_3 g-color-primary g-theme-color-black-v1--parent-hover g-font-size-default g-mb-10"
                 data-rating="3.5"
                 data-spacing="5"></div>

            <p class="g-color-white-opacity-0_8">Contact Us</p>
          </div>

          <!-- <strong class="d-inline-block g-line-height-1 g-font-weight-700 g-font-size-11 g-bg-primary g-theme-bg-black-v1--parent-hover g-pa-10" href="#!">$350.00</strong> -->
        </div>
      </a>
    </div>
  </div>
  <!-- Product Blocks -->
</section>
<!-- End Section Content -->

<!-- Section Content -->
<section id="popularTours" class="g-py-90">
  <div class="container g-max-width-780 text-center g-mb-70">
    <div class="u-heading-v8-2 g-mb-40">
      <h2 class="text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-40 mb-0">
        <strong class="h6 d-inline-block g-theme-bg-black-v1 g-color-white g-mb-20">Popular tour</strong>
        <br><span class="g-color-primary">Something</span> interesting
      </h2>
    </div>

    <p class="mb-0">Call us right away to get the great deal & offers on flights, hotel booking.</p>
  </div>

  <div class="container">
    <!-- Product Blocks -->
    <div class="row">
      <div class="col-lg-4 col-md-6 g-mb-30">
        <!-- Article -->
        <a class="d-block u-bg-overlay g-bg-black-opacity-0_3--after g-parent g-text-underline--none--hover" href="#!">
          <img class="img-fluid" src="/assets/img-temp/740x480/img1.jpg" alt="Image description">

          <!-- Article Content -->
          <div class="u-bg-overlay__inner g-pos-abs g-top-0 g-left-0 w-100 h-100 g-pa-10">
            <div class="g-flex-middle h-100 g-theme-bg-black-v1-opacity-0_8--parent-hover g-pa-10 g-transition-0_2 g-transition--ease-in">
              <div class="g-flex-middle-item--top">
                <!-- <strong class="u-ribbon-v1 text-uppercase g-top-20 g-left-20 g-color-white g-theme-bg-black-v1 g-pa-5" href="#!">From
                  <span class="g-color-primary">$780.00</span></strong> -->
              </div>

              <div class="text-uppercase g-flex-middle-item--bottom">
                <h3 class="h5 g-line-height-1_2 g-font-weight-700 g-font-size-18 g-font-secondary g-color-white g-mb-10">
                  <em class="d-block g-font-style-normal g-font-size-11 g-mb-10">Hong Kong</em>
                  King Way</h3>
                <small class="g-color-white-opacity-0_8">1 person, 4 days, 3 nights, 3 stars hotel</small>
              </div>
            </div>
          </div>
          <!-- End Article Content -->
        </a>
        <!-- End Article -->
      </div>

      <div class="col-lg-4 col-md-6 g-mb-30">
        <!-- Article -->
        <a class="d-block u-bg-overlay g-bg-black-opacity-0_3--after g-parent g-text-underline--none--hover" href="#!">
          <img class="img-fluid" src="/assets/img-temp/740x480/img2.jpg" alt="Image description">

          <!-- Article Content -->
          <div class="u-bg-overlay__inner g-pos-abs g-top-0 g-left-0 w-100 h-100 g-pa-10">
            <div class="g-flex-middle h-100 g-theme-bg-black-v1-opacity-0_8--parent-hover g-pa-10 g-transition-0_2 g-transition--ease-in">
              <div class="g-flex-middle-item--top">
                <!-- <strong class="u-ribbon-v1 text-uppercase g-top-20 g-left-20 g-color-white g-theme-bg-black-v1 g-pa-5" href="#!">From
                  <span class="g-color-primary">$2350.00</span></strong> -->
              </div>

              <div class="text-uppercase g-flex-middle-item--bottom">
                <h3 class="h5 g-line-height-1_2 g-font-weight-700 g-font-size-18 g-font-secondary g-color-white g-mb-10">
                  <em class="d-block g-font-style-normal g-font-size-11 g-mb-10">Venice</em>
                  Relax tour</h3>
                <small class="g-color-white-opacity-0_8">2 persons, 7 days, 7 nights, 5 stars hotel</small>
              </div>
            </div>
          </div>
          <!-- End Article Content -->
        </a>
        <!-- End Article -->
      </div>

      <div class="col-lg-4 col-md-6 g-mb-30">
        <!-- Article -->
        <a class="d-block u-bg-overlay g-bg-black-opacity-0_3--after g-parent g-text-underline--none--hover" href="#!">
          <img class="img-fluid" src="/assets/img-temp/740x480/img3.jpg" alt="Image description">

          <!-- Article Content -->
          <div class="u-bg-overlay__inner g-pos-abs g-top-0 g-left-0 w-100 h-100 g-pa-10">
            <div class="g-flex-middle h-100 g-theme-bg-black-v1-opacity-0_8--parent-hover g-pa-10 g-transition-0_2 g-transition--ease-in">
              <div class="g-flex-middle-item--top">
                <!-- <strong class="u-ribbon-v1 text-uppercase g-top-20 g-left-20 g-color-white g-theme-bg-black-v1 g-pa-5" href="#!">From
                  <span class="g-color-primary">$4320.00</span></strong> -->
              </div>

              <div class="text-uppercase g-flex-middle-item--bottom">
                <h3 class="h5 g-line-height-1_2 g-font-weight-700 g-font-size-18 g-font-secondary g-color-white g-mb-10">
                  <em class="d-block g-font-style-normal g-font-size-11 g-mb-10">Karlovy Vary</em>
                  Heaven on Earth</h3>
                <small class="g-color-white-opacity-0_8">2 persons, 14 days, 15 nights, 5 stars hotel</small>
              </div>
            </div>
          </div>
          <!-- End Article Content -->
        </a>
        <!-- End Article -->
      </div>

      <div class="col-lg-4 col-md-6 g-mb-30">
        <!-- Article -->
        <a class="d-block u-bg-overlay g-bg-black-opacity-0_3--after g-parent g-text-underline--none--hover" href="#!">
          <img class="img-fluid" src="/assets/img-temp/740x480/img4.jpg" alt="Image description">

          <!-- Article Content -->
          <div class="u-bg-overlay__inner g-pos-abs g-top-0 g-left-0 w-100 h-100 g-pa-10">
            <div class="g-flex-middle h-100 g-theme-bg-black-v1-opacity-0_8--parent-hover g-pa-10 g-transition-0_2 g-transition--ease-in">
              <div class="g-flex-middle-item--top">
               <!--  <strong class="u-ribbon-v1 text-uppercase g-top-20 g-left-20 g-color-white g-theme-bg-black-v1 g-pa-5" href="#!">From
                  <span class="g-color-primary">$760.00</span></strong> -->
              </div>

              <div class="text-uppercase g-flex-middle-item--bottom">
                <h3 class="h5 g-line-height-1_2 g-font-weight-700 g-font-size-18 g-font-secondary g-color-white g-mb-10">
                  <em class="d-block g-font-style-normal g-font-size-11 g-mb-10">Madrid</em>
                  Lovers tour</h3>
                <small class="g-color-white-opacity-0_8">2 persons, 4 days, 5 nights, 5 stars hotel</small>
              </div>
            </div>
          </div>
          <!-- End Article Content -->
        </a>
        <!-- End Article -->
      </div>

      <div class="col-lg-4 col-md-6 g-mb-30">
        <!-- Article -->
        <a class="d-block u-bg-overlay g-bg-black-opacity-0_3--after g-parent g-text-underline--none--hover" href="#!">
          <img class="img-fluid" src="/assets/img-temp/740x480/img5.jpg" alt="Image description">

          <!-- Article Content -->
          <div class="u-bg-overlay__inner g-pos-abs g-top-0 g-left-0 w-100 h-100 g-pa-10">
            <div class="g-flex-middle h-100 g-theme-bg-black-v1-opacity-0_8--parent-hover g-pa-10 g-transition-0_2 g-transition--ease-in">
              <div class="g-flex-middle-item--top">
               <!--  <strong class="u-ribbon-v1 text-uppercase g-top-20 g-left-20 g-color-white g-theme-bg-black-v1 g-pa-5" href="#!">From
                  <span class="g-color-primary">$2440.00</span></strong> -->
              </div>

              <div class="text-uppercase g-flex-middle-item--bottom">
                <h3 class="h5 g-line-height-1_2 g-font-weight-700 g-font-size-18 g-font-secondary g-color-white g-mb-10">
                  <em class="d-block g-font-style-normal g-font-size-11 g-mb-10">Bavaria</em>
                  Road of gladiators</h3>
                <small class="g-color-white-opacity-0_8">2 persons, 4 days, 5 nights, 4 stars hotel</small>
              </div>
            </div>
          </div>
          <!-- End Article Content -->
        </a>
        <!-- End Article -->
      </div>

      <div class="col-lg-4 col-md-6 g-mb-30">
        <!-- Article -->
        <a class="d-block u-bg-overlay g-bg-black-opacity-0_3--after g-parent g-text-underline--none--hover" href="#!">
          <img class="img-fluid" src="/assets/img-temp/740x480/img6.jpg" alt="Image description">

          <!-- Article Content -->
          <div class="u-bg-overlay__inner g-pos-abs g-top-0 g-left-0 w-100 h-100 g-pa-10">
            <div class="g-flex-middle h-100 g-theme-bg-black-v1-opacity-0_8--parent-hover g-pa-10 g-transition-0_2 g-transition--ease-in">
              <div class="g-flex-middle-item--top">
               <!--  <strong class="u-ribbon-v1 text-uppercase g-top-20 g-left-20 g-color-white g-theme-bg-black-v1 g-pa-5" href="#!">From
                  <span class="g-color-primary">$2530.00</span></strong> -->
              </div>

              <div class="text-uppercase g-flex-middle-item--bottom">
                <h3 class="h5 g-line-height-1_2 g-font-weight-700 g-font-size-18 g-font-secondary g-color-white g-mb-10">
                  <em class="d-block g-font-style-normal g-font-size-11 g-mb-10">New York</em>
                  Road of gods</h3>
                <small class="g-color-white-opacity-0_8">2 persons, 4 days, 5 nights, 4 stars hotel</small>
              </div>
            </div>
          </div>
          <!-- End Article Content -->
        </a>
        <!-- End Article -->
      </div>
    </div>
    <!-- End Product Blocks -->
  </div>
</section>
<!-- End Section Content -->

<!-- Hero Subscribe -->
<!-- <section id="subscribe" class="u-bg-overlay g-bg-black-opacity-0_7--after g-bg-img-hero g-py-150--md g-py-50 g-mb-40" style="background-image: url(/assets/img-temp/1400x534/img1.jpg);">
  <div class="container u-bg-overlay__inner text-center g-color-white">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="text-uppercase g-font-weight-700 g-font-size-56 g-font-secondary g-color-white g-mb-40">
          <span class="g-color-primary">Get 10%</span> discount</h2>
        <p class="g-color-white-opacity-0_8 g-mb-65">Donec eleifend mauris eu leo varius consectetur. Aliquam luctus a lorem ac rutrum. Cras in nulla id mi ornare vestibulum. Donec et magna nulla. Pellentesque ut ipsum id nibh pretium blandit quis ac erat.</p>

        <form role="form" action = "/discount" method = "post">
          <div class="row">
            <div class="col-md-6 form-group g-mb-35">
              <input name = "name" class="form-control form-control-lg g-placeholder-white g-font-size-15 g-color-white g-bg-transparent g-bg-transparent--focus g-brd-white g-brd-white--focus rounded-0 g-pa-10" name="email" type="text" placeholder="Your name">
            </div>

            <div class="col-md-6 form-group g-mb-35">
              <input name = "email" class="form-control form-control-lg g-placeholder-white g-font-size-15 g-color-white g-bg-transparent g-bg-transparent--focus g-brd-white g-brd-white--focus rounded-0 g-pa-10" name="email" type="email" placeholder="Your email">
            </div>
          </div>

          <button class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 rounded-0 g-py-10 g-px-25" type="submit">Send message</button>
        </form>
      </div>
    </div>
  </div>
</section> -->
<!-- End Hero Subscribe -->

<!-- Section Content -->
<section id="purposes" class="g-py-90">
  <div class="container g-max-width-780 text-center g-mb-70">
    <div class="u-heading-v8-2 g-mb-40">
      <h2 class="text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-40 mb-0">
        <strong class="h6 d-inline-block g-theme-bg-black-v1 g-color-white g-mb-20">Special purposes</strong>
        <br><span class="g-color-primary">Don't miss</span> this
      </h2>
    </div>

    <p class="mb-0">Most purchased tours packages from us.</p>
  </div>

  <div class="container">
    <!-- Product Blocks -->
    <div class="row">
      <div class="col-lg-6 g-mb-30">
        <!-- Article -->
        <a class="d-block u-bg-overlay g-bg-black-opacity-0_3--after g-parent g-text-underline--none--hover" href="#!">
          <img class="img-fluid" src="/assets/img-temp/800x623/img1.jpg" alt="Image description">

          <!-- Article Content -->
          <div class="text-center text-uppercase u-bg-overlay__inner g-pos-abs g-bottom-10 g-left-10 g-max-width-200 ">
            <div class="g-bg-primary-dark-v2 g-bg-primary-dark-v2-opacity-0_8--parent-hover g-py-20 g-px-30 g-transition-0_2 g-transition--ease-in">
              <h3 class="h5 g-line-height-1_2 g-font-weight-700 g-font-size-16 g-font-secondary g-color-white g-mb-20">
                <em class="d-block g-font-style-normal g-font-size-11 g-mb-10">Great Britain</em>
                Big Big London</h3>
              <p class="g-line-height-1_6 g-font-size-10 g-color-white-opacity-0_8 mb-0">2 persons, 4 days, 5 nights, 4 stars hotel</p>
            </div>

          <!--   <div class="g-font-weight-700 g-font-size-18 g-color-white g-theme-bg-black-v1 g-pa-10">Only
              <span class="g-color-primary">$400.00</span>
            </div> -->
          </div>
          <!-- End Article Content -->
        </a>
        <!-- End Article -->
      </div>

      <div class="col-lg-6">
        <div class="row">
          <div class="col-sm-6 g-mb-30">
            <!-- Article -->
            <a class="d-block u-bg-overlay g-bg-black-opacity-0_3--after g-parent g-text-underline--none--hover" href="#!">
              <img class="img-fluid" src="/assets/img-temp/570x436/img1.jpg" alt="Image description">

              <!-- Article Content -->
              <div class="u-bg-overlay__inner g-pos-abs g-top-0 g-left-0 w-100 h-100 g-pa-10">
                <div class="g-flex-middle h-100 g-bg-primary-dark-v2-opacity-0_8--parent-hover g-pa-10 g-transition-0_2 g-transition--ease-in">
                  <div class="text-center text-uppercase g-flex-middle-item--bottom">
                    <h3 class="h5 g-line-height-1_2 g-font-weight-700 g-font-size-16 g-font-secondary g-color-white g-mb-20">
                      <em class="d-block g-font-style-normal g-font-size-11 g-mb-10">Greece</em>
                      Heaven on Earth</h3>
                <!--     <strong class="d-inline-block g-line-height-1_2 g-font-weight-700 g-font-size-11 g-color-white g-bg-primary g-pa-10" href="#!">$350.00</strong> -->
                  </div>
                </div>
              </div>
              <!-- End Article Content -->
            </a>
            <!-- End Article -->
          </div>

          <div class="col-sm-6 g-mb-30">
            <!-- Article -->
            <a class="d-block u-bg-overlay g-bg-black-opacity-0_3--after g-parent g-text-underline--none--hover" href="#!">
              <img class="img-fluid" src="/assets/img-temp/570x436/img2.jpg" alt="Image description">

              <!-- Article Content -->
              <div class="u-bg-overlay__inner g-pos-abs g-top-0 g-left-0 w-100 h-100 g-pa-10">
                <div class="g-flex-middle h-100 g-bg-primary-dark-v2-opacity-0_8--parent-hover g-pa-10 g-transition-0_2 g-transition--ease-in">
                  <div class="text-center text-uppercase g-flex-middle-item--bottom">
                    <h3 class="h5 g-line-height-1_2 g-font-weight-700 g-font-size-16 g-font-secondary g-color-white g-mb-20">
                      <em class="d-block g-font-style-normal g-font-size-11 g-mb-10">Italy</em>
                      Amazing Venice</h3>
                    <!-- <strong class="d-inline-block g-line-height-1_2 g-font-weight-700 g-font-size-11 g-color-white g-bg-primary g-pa-10" href="#!">$600.00</strong> -->
                  </div>
                </div>
              </div>
              <!-- End Article Content -->
            </a>
            <!-- End Article -->
          </div>

          <div class="col-sm-6 g-mb-30">
            <!-- Article -->
            <a class="d-block u-bg-overlay g-bg-black-opacity-0_3--after g-parent g-text-underline--none--hover" href="#!">
              <img class="img-fluid" src="/assets/img-temp/570x436/img3.jpg" alt="Image description">

              <!-- Article Content -->
              <div class="u-bg-overlay__inner g-pos-abs g-top-0 g-left-0 w-100 h-100 g-pa-10">
                <div class="g-flex-middle h-100 g-bg-primary-dark-v2-opacity-0_8--parent-hover g-pa-10 g-transition-0_2 g-transition--ease-in">
                  <div class="text-center text-uppercase g-flex-middle-item--bottom">
                    <h3 class="h5 g-line-height-1_2 g-font-weight-700 g-font-size-16 g-font-secondary g-color-white g-mb-20">
                      <em class="d-block g-font-style-normal g-font-size-11 g-mb-10">France</em>
                      Mysteriuos Paris</h3>
               <!--      <strong class="d-inline-block g-line-height-1_2 g-font-weight-700 g-font-size-11 g-color-white g-bg-primary g-pa-10" href="#!">$350.00</strong> -->
                  </div>
                </div>
              </div>
              <!-- End Article Content -->
            </a>
            <!-- End Article -->
          </div>

          <div class="col-sm-6 g-mb-30">
            <!-- Article -->
            <a class="d-block u-bg-overlay g-bg-black-opacity-0_3--after g-parent g-text-underline--none--hover" href="#!">
              <img class="img-fluid" src="/assets/img-temp/570x436/img4.jpg" alt="Image description">

              <!-- Article Content -->
              <div class="u-bg-overlay__inner g-pos-abs g-top-0 g-left-0 w-100 h-100 g-pa-10">
                <div class="g-flex-middle h-100 g-bg-primary-dark-v2-opacity-0_8--parent-hover g-pa-10 g-transition-0_2 g-transition--ease-in">
                  <div class="text-center text-uppercase g-flex-middle-item--bottom">
                    <h3 class="h5 g-line-height-1_2 g-font-weight-700 g-font-size-16 g-font-secondary g-color-white g-mb-20">
                      <em class="d-block g-font-style-normal g-font-size-11 g-mb-10">Malaysia</em>
                      Langkawi, we love you</h3>
                   <!--  <strong class="d-inline-block g-line-height-1_2 g-font-weight-700 g-font-size-11 g-color-white g-bg-primary g-pa-10" href="#!">$800.00</strong> -->
                  </div>
                </div>
              </div>
              <!-- End Article Content -->
            </a>
            <!-- End Article -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Product Blocks -->
  </div>
</section>
<!-- End Section Content -->

<!-- Section Content -->
<section id="services" class="row no-gutters">
  <div class="col-lg-3 text-center g-bg-primary g-py-30 g-px-10">
    <div class="u-heading-v8-2 g-mb-30">
      <h2 class="text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-40 mb-0">
        <strong class="h6 d-inline-block g-theme-bg-black-v1 g-color-white g-mb-20">Our services</strong>
        <br><span class="g-color-white">What we</span> purpose
      </h2>
    </div>

    <p class="g-color-white-opacity-0_8 g-px-30 mb-0">We are your holiday & travel partner, our professional team help you to get the cheapest flight tickets & hotels bookings . We have travel paackages for India, US, UK, Europe.</p>
  </div>

  <div class="col-lg-9">
    <div class="js-carousel u-carousel-v5"
         data-infinite="true"
         data-slides-scroll="true"
         data-slides-show="3"
         data-arrows-classes="u-arrow-v1 g-pos-abs g-top-100 g-width-45 g-height-45 g-font-size-default g-color-white g-bg-primary g-theme-bg-black-v1--hover"
         data-arrow-left-classes="fa fa-chevron-left g-left-0"
         data-arrow-right-classes="fa fa-chevron-right g-right-0"
         data-responsive='[{
           "breakpoint": 1200,
           "settings": {
             "slidesToShow": 2
           }
         }, {
           "breakpoint": 768,
           "settings": {
             "slidesToShow": 1
           }
         }]'>
      <div class="js-slide">
        <article class="u-shadow-v26 g-parent g-theme-bg-black-v1 g-bg-primary--hover g-transition-0_2 g-transition--ease-in">
          <div class="u-bg-overlay g-bg-black-opacity-0_3--after">
            <img class="img-fluid w-100" src="/assets/img-temp/570x436/img5.jpg" alt="Image description">
          </div>

          <div class="text-center g-pa-45">
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-font-secondary g-color-white g-mb-15">Auli, India</h3>
            <p class="g-color-white-opacity-0_8 g-mb-35"></p>
            <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 g-theme-bg-black-v1--parent-hover rounded-0 g-py-10 g-px-25" href="/quotations">Buy Now</a>
          </div>
        </article>
      </div>

      <div class="js-slide">
        <article class="u-shadow-v26 g-parent g-theme-bg-black-v1 g-bg-primary--hover g-transition-0_2 g-transition--ease-in">
          <div class="u-bg-overlay g-bg-black-opacity-0_3--after">
            <img class="img-fluid w-100" src="/assets/img-temp/570x436/img6.jpg" alt="Image description">
          </div>

          <div class="text-center g-pa-45">
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-font-secondary g-color-white g-mb-15">Europe</h3>
            <p class="g-color-white-opacity-0_8 g-mb-35"></p>
            <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 g-theme-bg-black-v1--parent-hover rounded-0 g-py-10 g-px-25" href="/quotations">Buy Now</a>
          </div>
        </article>
      </div>

      <div class="js-slide">
        <article class="u-shadow-v26 g-parent g-theme-bg-black-v1 g-bg-primary--hover g-transition-0_2 g-transition--ease-in">
          <div class="u-bg-overlay g-bg-black-opacity-0_3--after">
            <img class="img-fluid w-100" src="/assets/img-temp/570x436/img7.jpg" alt="Image description">
          </div>

          <div class="text-center g-pa-45">
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-font-secondary g-color-white g-mb-15">Hong Kong</h3>
            <p class="g-color-white-opacity-0_8 g-mb-35"></p>
            <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 g-theme-bg-black-v1--parent-hover rounded-0 g-py-10 g-px-25" href="/quotations">Buy Now</a>
          </div>
        </article>
      </div>

      <div class="js-slide">
        <article class="u-shadow-v26 g-parent g-theme-bg-black-v1 g-bg-primary--hover g-transition-0_2 g-transition--ease-in">
          <div class="u-bg-overlay g-bg-black-opacity-0_3--after">
            <img class="img-fluid w-100" src="/assets/img-temp/570x436/img1.jpg" alt="Image description">
          </div>

          <div class="text-center g-pa-45">
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-font-secondary g-color-white g-mb-15">Greece</h3>
            <p class="g-color-white-opacity-0_8 g-mb-35"></p>
            <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 g-theme-bg-black-v1--parent-hover rounded-0 g-py-10 g-px-25" href="/quotations">Buy Now</a>
          </div>
        </article>
      </div>

      <div class="js-slide">
        <article class="u-shadow-v26 g-parent g-theme-bg-black-v1 g-bg-primary--hover g-transition-0_2 g-transition--ease-in">
          <div class="u-bg-overlay g-bg-black-opacity-0_3--after">
            <img class="img-fluid w-100" src="/assets/img-temp/570x436/img8.jpg" alt="Image description">
          </div>

          <div class="text-center g-pa-45">
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-font-secondary g-color-white g-mb-15">Netherlands</h3>
            <p class="g-color-white-opacity-0_8 g-mb-35"></p>
            <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 g-theme-bg-black-v1--parent-hover rounded-0 g-py-10 g-px-25" href="/quotations">Buy Now</a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- End Section Content -->

<!-- Section Content -->
<section id="gallery" class="g-pt-90">
  <div class="container g-max-width-780 text-center g-mb-70">
    <div class="u-heading-v8-2 g-mb-40">
      <h2 class="text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-40 mb-0">
        <strong class="h6 d-inline-block g-theme-bg-black-v1 g-color-white g-mb-20">Our gallery</strong>
        <br><span class="g-color-primary">Interesting</span> shots
      </h2>
    </div>

    <p class="mb-0">Some of the famous destinations you would like to travel </p>
  </div>

  <!-- Cube Portfolio -->
  <div class="cbp"
       data-layout="mosaic"
       data-animation="fadeOutTop"
       data-caption-animation="zoom"
       data-x-gap="0"
       data-y-gap="0"
       data-media-queries='[
         {"width": 1500, "cols": 5},
         {"width": 1100, "cols": 4},
         {"width": 800, "cols": 3},
         {"width": 480, "cols": 2},
         {"width": 320, "cols": 1}
       ]'>
    <div class="cbp-item">
      <a class="cbp-caption cbp-lightbox" href="/assets/img-temp/1200x675/img1.jpg"
         data-title="Sed feugiat porttitor nunc<br>by Vivamus">
        <div class="cbp-caption-defaultWrap u-bg-overlay g-bg-black-opacity-0_3--after">
          <img src="/assets/img-temp/760x720/img1.jpg" alt="Image description">
        </div>
      </a>
    </div>

    <div class="cbp-item">
      <a class="cbp-caption cbp-lightbox" href="/assets/img-temp/1200x675/img2.jpg"
         data-title="Sed feugiat porttitor nunc<br>by Vivamus">
        <div class="cbp-caption-defaultWrap u-bg-overlay g-bg-black-opacity-0_3--after">
          <img src="/assets/img-temp/380x360/img1.jpg" alt="Image description">
        </div>
      </a>
    </div>

    <div class="cbp-item">
      <a class="cbp-caption cbp-lightbox" href="/assets/img-temp/1200x675/img3.jpg"
         data-title="Sed feugiat porttitor nunc<br>by Vivamus">
        <div class="cbp-caption-defaultWrap u-bg-overlay g-bg-black-opacity-0_3--after">
          <img src="/assets/img-temp/380x360/img2.jpg" alt="Image description">
        </div>
      </a>
    </div>

    <div class="cbp-item">
      <a class="cbp-caption cbp-lightbox" href="/assets/img-temp/1200x675/img4.jpg"
         data-title="Sed feugiat porttitor nunc<br>by Vivamus">
        <div class="cbp-caption-defaultWrap u-bg-overlay g-bg-black-opacity-0_3--after">
          <img src="/assets/img-temp/760x360/img1.jpg" alt="Image description">
        </div>
      </a>
    </div>

    <div class="cbp-item">
      <a class="cbp-caption cbp-lightbox" href="/assets/img-temp/1200x675/img5.jpg"
         data-title="Sed feugiat porttitor nunc<br>by Vivamus">
        <div class="cbp-caption-defaultWrap u-bg-overlay g-bg-black-opacity-0_3--after">
          <img src="/assets/img-temp/380x360/img3.jpg" alt="Image description">
        </div>
      </a>
    </div>

    <div class="cbp-item">
      <a class="cbp-caption cbp-lightbox" href="/assets/img-temp/1200x675/img6.jpg"
         data-title="Sed feugiat porttitor nunc<br>by Vivamus">
        <div class="cbp-caption-defaultWrap u-bg-overlay g-bg-black-opacity-0_3--after">
          <img src="/assets/img-temp/760x360/img2.jpg" alt="Image description">
        </div>
      </a>
    </div>

    <div class="cbp-item">
      <a class="cbp-caption cbp-lightbox" href="/assets/img-temp/1200x675/img7.jpg"
         data-title="Sed feugiat porttitor nunc<br>by Vivamus">
        <div class="cbp-caption-defaultWrap u-bg-overlay g-bg-black-opacity-0_3--after">
          <img src="/assets/img-temp/380x360/img4.jpg" alt="Image description">
        </div>
      </a>
    </div>
  </div>

  <div class="cbp-l-loadMore-text"></div>
  <!-- End Cube Portfolio -->
</section>
<!-- End Section Content -->

<!-- Section Content -->
<section id="testimonials" class="g-py-90">
  <div class="container g-max-width-780 text-center g-mb-70">
    <div class="u-heading-v8-2 g-mb-40">
      <h2 class="text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-40 mb-0">
        <strong class="h6 d-inline-block g-theme-bg-black-v1 g-color-white g-mb-20">Testimonials</strong>
        <br><span class="g-color-primary">Customers</span> say's
      </h2>
    </div>

    <p class="mb-0">Our happy customer stay with us for the best deals , we have 100% returring rate from our customers & 100% satisfiction gurentee. </p>
  </div>

  <div class="container-fluid px-0">
    <div id="carouselCus2" class="js-carousel js-carousel_single-item-thumbs5--v3__thumbs u-carousel-v1 g-parent g-mb-50"
         data-infinite="true"
         data-center-mode="true"
         data-variable-width="true"
         data-slides-show="5"
         data-arrows-classes="u-arrow-v1 g-absolute-centered g-width-35 g-height-40 g-font-size-26 g-color-gray g-bg-white opacity-0 g-opacity-1--parent-hover"
         data-arrow-left-classes="fa fa-angle-left g-ml-minus-142"
         data-arrow-right-classes="fa fa-angle-right g-ml-142"
         data-nav-for="#carouselCus3">
      <div class="js-thumb">
        <img src="/assets/img-temp/240x240/img1.jpg" alt="Image description">
      </div>

      <div class="js-thumb">
        <img src="/assets/img-temp/240x240/img2.jpg" alt="Image description">
      </div>

      <div class="js-thumb">
        <img src="/assets/img-temp/240x240/img3.jpg" alt="Image description">
      </div>

      <div class="js-thumb">
        <img src="/assets/img-temp/240x240/img4.jpg" alt="Image description">
      </div>

      <div class="js-thumb">
        <img src="/assets/img-temp/240x240/img5.jpg" alt="Image description">
      </div>

      <div class="js-thumb">
        <img src="/assets/img-temp/240x240/img6.jpg" alt="Image description">
      </div>

      <div class="js-thumb">
        <img src="/assets/img-temp/240x240/img7.jpg" alt="Image description">
      </div>

      <div class="js-thumb">
        <img src="/assets/img-temp/240x240/img8.jpg" alt="Image description">
      </div>

      <div class="js-thumb">
        <img src="/assets/img-temp/240x240/img9.jpg" alt="Image description">
      </div>
    </div>

    <div class="row justify-content-center no-gutters">
      <div id="carouselCus3" class="js-carousel text-center col-sm-8"
           data-infinite="true"
           data-fade="true"
           data-animation="linear"
           data-nav-for="#carouselCus2">
        <div class="js-slide">
          <h4 class="text-uppercase g-font-weight-700 g-font-size-default g-ma-10">Julia B. Mcraflane</h4>
          <em class="text-uppercase d-block g-font-style-normal g-font-weight-600 g-font-size-10 g-color-primary g-mb-15">Company CEO</em>
          <blockquote class="g-font-style-italic g-font-size-16 g-mb-0">Best Travel Agency.</blockquote>
        </div>

        <div class="js-slide">
          <h4 class="text-uppercase g-font-weight-700 g-font-size-default g-ma-10">Amy Clayton</h4>
          <em class="text-uppercase d-block g-font-style-normal g-font-weight-600 g-font-size-10 g-color-primary g-mb-15">Programmer</em>
          <blockquote class="g-font-style-italic g-font-size-16 g-mb-0">Great support.</blockquote>
        </div>

        <div class="js-slide">
          <h4 class="text-uppercase g-font-weight-700 g-font-size-default g-ma-10">Fred Penner</h4>
          <em class="text-uppercase d-block g-font-style-normal g-font-weight-600 g-font-size-10 g-color-primary g-mb-15">Web Developer</em>
          <blockquote class="g-font-style-italic g-font-size-16 g-mb-0">They helped me in changing the travel date & helped me alot.</blockquote>
        </div>

        <div class="js-slide">
          <h4 class="text-uppercase g-font-weight-700 g-font-size-default g-ma-10">Martina Saiz</h4>
          <em class="text-uppercase d-block g-font-style-normal g-font-weight-600 g-font-size-10 g-color-primary g-mb-15">UI Designer</em>
          <blockquote class="g-font-style-italic g-font-size-16 g-mb-0">Best rates provides.</blockquote>
        </div>

        <div class="js-slide">
          <h4 class="text-uppercase g-font-weight-700 g-font-size-default g-ma-10">Joseph B. Seward</h4>
          <em class="text-uppercase d-block g-font-style-normal g-font-weight-600 g-font-size-10 g-color-primary g-mb-15">Developer</em>
          <blockquote class="g-font-style-italic g-font-size-16 g-mb-0">Great service on time.</blockquote>
        </div>

        <div class="js-slide">
          <h4 class="text-uppercase g-font-weight-700 g-font-size-default g-ma-10">Jane Lopex</h4>
          <em class="text-uppercase d-block g-font-style-normal g-font-weight-600 g-font-size-10 g-color-primary g-mb-15">Company CEO</em>
          <blockquote class="g-font-style-italic g-font-size-16 g-mb-0">24/7 suport help me while travling during vacations time.</blockquote>
        </div>

        <div class="js-slide">
          <h4 class="text-uppercase g-font-weight-700 g-font-size-default g-ma-10">James Ridgway</h4>
          <em class="text-uppercase d-block g-font-style-normal g-font-weight-600 g-font-size-10 g-color-primary g-mb-15">IT Manager</em>
          <blockquote class="g-font-style-italic g-font-size-16 g-mb-0">Great communications</blockquote>
        </div>

        <div class="js-slide">
          <h4 class="text-uppercase g-font-weight-700 g-font-size-default g-ma-10">Patricia Burns</h4>
          <em class="text-uppercase d-block g-font-style-normal g-font-weight-600 g-font-size-10 g-color-primary g-mb-15">System Admin</em>
          <blockquote class="g-font-style-italic g-font-size-16 g-mb-0">Best rates for international flights </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Section Content -->

<a class="js-go-to u-go-to-v1" href="#!"
   data-type="fixed"
   data-position='{
     "bottom": 15,
     "right": 15
   }'
   data-offset-top="400"
   data-compensation="#js-header"
   data-show-effect="zoomIn">
  <i class="hs-icon hs-icon-arrow-top"></i>
</a>
    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/jquery-migrate.min.js"></script>
    <script src="/assets/popper.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/appear.js"></script>
    <script src="/assets/slick.js"></script>
    <script src="/assets/masterslider.min.js"></script>
    <script src="/assets/jquery.cubeportfolio.min.js"></script>
    <script src="/assets/gmaps.min.js"></script>
    <script src="/assets/widget.js"></script>
    <script src="/assets/version.js"></script>
    <script src="/assets/keycode.js"></script>
    <script src="/assets/position.js"></script>
    <script src="/assets/unique-id.js"></script>
    <script src="/assets/safe-active-element.js"></script>
    <script src="/assets/menu.js"></script>
    <script src="/assets/mouse.js"></script>
    <script src="/assets/datepicker.js"></script>
    <script src="/assets/chosen.jquery.js"></script>
    <script src="/assets/ImageSelect.jquery.js"></script>
    <script src="/assets/hs.core.js"></script>
    <script src="/assets/hs.header.js"></script>
    <script src="/assets/hs.hamburgers.js"></script>
    <script src="/assets/hs.scroll-nav.js"></script>
    <script src="/assets/hs.rating.js"></script>
    <script src="/assets/hs.datepicker.js"></script>
    <script src="/assets/hs.select.js"></script>
    <script src="/assets/hs.carousel.js"></script>
    <script src="/assets/hs.cubeportfolio.js"></script>
    <script src="/assets/hs.map.js"></script>
    <script src="/assets/hs.go-to.js"></script>
    <script src="/assets/custom.js"></script>
    <script src="/assets/ken_burns_effact.js"></script>
<script>
      // initialization of master slider
      var promoSlider = new MasterSlider();

      promoSlider.setup('masterslider', {
        width: 1400,
        height: 480,
        speed: 70,
        layout: 'fullscreen',
        loop: true,
        preload: 0,
        autoplay: true
      });

      promoSlider.control('thumblist', {
        autohide: false,
        dir: 'h',
        align: 'bottom',
        width: 200,
        height: 120,
        margin: 0,
        space: 0,
        hideUnder: 767
      });

      // initialization of google map
      function initMap() {
        $.HSCore.components.HSGMap.init('.js-g-map');
      }

      $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of datepicker
        $.HSCore.components.HSDatepicker.init('.js-datepicker');

        // initialization of custom select
        $.HSCore.components.HSSelect.init('.js-custom-select');

        // initialization of rating
        $.HSCore.components.HSRating.init($('.js-rating'), {
          spacing: 4
        });

        // initialization of go to section
        $.HSCore.components.HSGoTo.init('.js-go-to');
      });

      $(window).on('load', function() {
        // initialization of HSScrollNav
        $.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
          duration: 700
        });

        // initialization of cubeportfolio
        $.HSCore.components.HSCubeportfolio.init('.cbp');
      });
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtt1z99GtrHZt_IcnK-wryNsQ30A112J0&callback=initMap" async></script>