<div class="align-self-center w-100">
	<div class="container">
		<div class="row" style="margin-top: 12%;">
			<div style="text-align: center;">
		  	<h3 class="text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-40 mb-0">
		    	<br><span class="g-color-black">India Tour</span>
		  	</h3>
				<br />
				<div style="text-align: center;width: 100%;">
					<p style="margin-bottom: 12.0pt; line-height: normal; background: white;"><strong><u><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Day 01&nbsp;&nbsp;- Arrival &nbsp;Ahmedabad</span></u></strong></p>
				<p style="margin-bottom: 12.0pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Early morning arrival by Qatar airways at 0210 hrs ....&nbsp; Upon arrival transfer to hotel&nbsp;</span><strong><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: red;">(Rooms upon arrival booked from previous night)&nbsp;</span></strong></p>
				<p style="margin-bottom: 12.0pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Lunch at hotel.&nbsp; &nbsp;</span></p>
				<p style="margin-bottom: 12.0pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Pm: Sightseeing of Ahmedabad City.&nbsp;</span></p>
				<p style="margin-bottom: 12.0pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Dinner at hotel&nbsp;&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><strong><u><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Day 02&nbsp; -&nbsp;&nbsp;&nbsp; Ahmedabad</span></u></strong></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #26282a;">Breakfast at hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Full day&nbsp;sightseeing tour of&nbsp; Ahmedabad</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Lunch at Dinner at hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #26282a;">&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><strong><u><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Day 03&nbsp;&nbsp;-&nbsp; Ahmedabad/Mount abu</span></u></strong></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #26282a;">Breakfast at hotel&nbsp;&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Leave to visit&nbsp; Modhera and Patan&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Lunch at Patan&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Continue drive towards Mt Abu.&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Check in at hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Dinner at hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;"><br /><strong><u>Day 04&nbsp;&nbsp;-&nbsp; &nbsp;Mount abu / Udaipur</u></strong></span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Breakfast at hotel&nbsp;<br />Am:&nbsp; Sightseeing of Mt Abu&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Lunch at hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Pm: Drive to Udaipur.&nbsp;<br />Check in at hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Dinner at hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;"><br /><strong><u>Day 05&nbsp;&nbsp;- Udaipur</u></strong><u><br /></u>Breakfast at hotel&nbsp;<br />AM : Sightseeing of City</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Lunch at local restaurant&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">PM:&ndash; Boat ride at Lake pichola.&nbsp;<br />Dinner at hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;"><br /><strong><u>Day 06&nbsp;- &nbsp;Udaipur / Sardargah&nbsp;</u></strong></span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Breakfast at Hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Drive to Sardargarh</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Checkin at hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Pm: visit of Sardargarh&nbsp;&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Dinner at hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;"><br /><strong><u>Day 07&nbsp;&nbsp;-&nbsp; &nbsp;Sardargarh / Jodhpur&nbsp;</u></strong></span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Breakfast at hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Drive to Jodhpur</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">check in at hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Pm:&nbsp; Sightseeing of Jodhpur&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Dinner at hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #26282a;">&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><strong><u><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Day 08 -&nbsp; &nbsp;Jodhpur /Pushkar/Jaipur&nbsp;</span></u></strong></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Breakfast at hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Drive to Jaipur via Pushkar</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Lunch at Pushkar</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Drive to Jaipur&nbsp;&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">check in at hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Dinner at hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #26282a;">&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><strong><u><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Day 09&nbsp;&nbsp;-&nbsp; &nbsp;Jaipur&nbsp;</span></u></strong></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><strong><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Breakfast at hotel&nbsp;</span></strong></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Am: Visit of Amber fort&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Lunch at local restaurant&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Pm: Sightseeing of the city</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Dinner at hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;"><br /><strong><u>Day 10&nbsp;&nbsp;- &nbsp; Jaipur / Agra&nbsp;</u></strong><u><br /></u>Breakfast at hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Drive to Agra.. via Bharatpur..&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Lunch at local Resrtaurant&nbsp;&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Continue drive towards Agra&nbsp;<br />Check in at hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Dinner at local restaurant&nbsp;&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;"><br /><strong><u>Day 11&nbsp;&nbsp;&ndash;&nbsp; Agra/Delhi</u></strong></span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><strong><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Breakfast at hotel&nbsp;<br /></span></strong><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Am: Sightseeing tour of Red fort and Taj Mahal</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Lunch at hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Drive to Delhi&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Check in at hotel</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Dinner at hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><strong><u><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Day 12&nbsp;&nbsp;- Delhi /Varanasi&nbsp;</span></u></strong><u><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;"><br /></span></u><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050; background: white;">Breakfast at hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050; background: white;">Transfer to airport for the flight&nbsp;to Varanasi.</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050; background: white;">Transfer to hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050; background: white;">Lunch at hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050; background: white;">Pm: Sightseeing of Varanasi&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050; background: white;">Dinner at hotel&nbsp;&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #26282a;">&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><strong><u><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Day 13&nbsp;&nbsp; Varanasi/Delhi&nbsp;</span></u></strong></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Early morning: Boat ride at Ganges&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Breakfast at hotel&nbsp;<br />Sightseeing of Sarnath&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Lunch at hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Transfer to airport for flight to Delhi&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Check in at Hotel.</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Dinner at hotel&nbsp;<br /><br /><strong><u>Day 14&nbsp;&nbsp;&nbsp;Delhi</u></strong></span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Breakfast at hotel&nbsp;<br />F/D - Sightseeing tour of&nbsp; Old and New Delhi.</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Lunch at Local restaurant&nbsp;&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Dinner at hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><strong><u><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Day 15&nbsp; Delhi/Amritsar&nbsp;</span></u></strong></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Breakfast at hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Transfer to airport for flight to Amritsar&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Transfer to hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Lunch at hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Visit to Wagah border&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #26282a;">Dinner at hotel&nbsp;&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: #26282a;">&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><strong><u><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Day 16&nbsp; Amritsar Departure&nbsp;</span></u></strong></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Breakfast at hotel&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Sightseeing tour of Amritsar&nbsp;&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Lunch at hotel</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><strong><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: red;">(Room till 12 Noon)&nbsp;</span></strong><strong><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">&nbsp;</span></strong></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #500050;">Evening free&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'New serif',serif; color: #26282a;">Dinner at hotel&nbsp;&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: Helvetica; color: #26282a; background: white;">Around 2330 hrs Transfer to International airport for Qatar airways&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: #26282a;">&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><strong><u><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: #26282a;">*END&nbsp; OF&nbsp; SERVICES *</span></u></strong></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: #26282a;">&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: #26282a;">&nbsp;</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><strong><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: black;">We will provide following hotels Subject to availability failing next available alternate will be provided:-&nbsp;</span></strong></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><strong><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: black;">&nbsp;</span></strong></p>
				<p style="margin-bottom: .0001pt; line-height: normal; background: white;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: #26282a;">&nbsp;</span></p>
				<table style="background: white; border-collapse: collapse;">
				<tbody>
				<tr>
				<td style="border: solid black 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><strong><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">Days&nbsp;</span></strong></p>
				</td>
				<td style="border: solid black 1.0pt; border-left: none; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><strong><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">City&nbsp;</span></strong></p>
				</td>
				<td style="border: solid black 1.0pt; border-left: none; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><strong><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">Hotels</span></strong></p>
				</td>
				<td style="border: solid black 1.0pt; border-left: none; padding: 0cm 0cm 0cm 0cm;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><strong><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">&nbsp;</span></strong></p>
				</td>
				</tr>
				<tr>
				<td style="border: solid black 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">01/03&nbsp;&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">Ahmedabad&nbsp; &nbsp; &nbsp;&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: #26282a;">Radisson Blu&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 0cm 0cm 0cm;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: #26282a;">&nbsp;</span></p>
				</td>
				</tr>
				<tr>
				<td style="border: solid black 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">03/04&nbsp;&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: #26282a;">Mount Abu&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">Palace hotel&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 0cm 0cm 0cm;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">&nbsp;</span></p>
				</td>
				</tr>
				<tr>
				<td style="border: solid black 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">04/06&nbsp;&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: #26282a;">Udaipur&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">Ananta resort&nbsp; &nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 0cm 0cm 0cm;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">&nbsp;</span></p>
				</td>
				</tr>
				<tr>
				<td style="border: solid black 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">06/07&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: #26282a;">Sardargarh&nbsp;&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">Sardargarh fort&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 0cm 0cm 0cm;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">&nbsp;</span></p>
				</td>
				</tr>
				<tr>
				<td style="border: solid black 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">07/08&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: #26282a;">Jodhpur&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">Indana Palace&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 0cm 0cm 0cm;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">&nbsp;</span></p>
				</td>
				</tr>
				<tr>
				<td style="border: solid black 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">08/10&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">Jaipur&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: #26282a;">Sarovar premiere&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 0cm 0cm 0cm;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: #26282a;">&nbsp;</span></p>
				</td>
				</tr>
				<tr>
				<td style="border: solid black 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">10/11&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">Agra&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">Sarovar Premiere&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 0cm 0cm 0cm;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">&nbsp;</span></p>
				</td>
				</tr>
				<tr>
				<td style="border: solid black 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">11/12&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">Delhi&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">Lemon tree&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 0cm 0cm 0cm;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">&nbsp;</span></p>
				</td>
				</tr>
				<tr>
				<td style="border: solid black 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: #26282a;">12/13&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: #26282a;">Varanasi&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: #26282a;">Radisson&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 0cm 0cm 0cm;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: #26282a;">&nbsp;</span></p>
				</td>
				</tr>
				<tr>
				<td style="border: solid black 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: #26282a;">13/15<br />15/16&nbsp; &nbsp;&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: #26282a;">Delhi&nbsp; &nbsp; &nbsp;&nbsp;<br />Amritsar&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: #26282a;">The Lalit&nbsp;<br />Holiday Inn&nbsp;</span></p>
				</td>
				<td style="border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 0cm 0cm 0cm 0cm;">
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: #26282a;">&nbsp;</span></p>
				</td>
				</tr>
				</tbody>
				</table>
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: Helvetica; color: #26282a;"><br /></span><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif;">Total cost for this tour will be 3075.00 US $ per person on twin sharing basis</span></p>
				<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif;">Single supplement for the tour will be 1166.00 US $.</span></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif;">&nbsp;</span></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: #26282a;">&nbsp;</span><strong><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: #26282a;">THIS COST INCLUDES:</span></strong></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><span style="font-size: 14.0pt; font-family: Wingdings; color: black;">&Oslash;</span><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: black;">&nbsp;&nbsp;</span><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: black;">Accomodation for 15 NTS + Early check-in on day one&nbsp; (Twin Sharing&nbsp; Rooms at all places).. INCLUDING ALL TAXES AND SERVICE CHARGES..</span></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><span style="font-size: 14.0pt; font-family: Wingdings; color: black;">&Oslash;</span><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: black;">&nbsp;&nbsp;&nbsp;</span><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: black;">On Full Board Basis</span></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><span style="font-size: 14.0pt; font-family: Wingdings; color: black;">&Oslash;</span><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: black;">&nbsp;&nbsp;All transfers and visits by One&nbsp;AC Large dlx Coach&nbsp;</span><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: black;">*INCLUSIVE OF FUEL CHARGES, TAXES, DRIVER &nbsp; &nbsp;ALLOWANCE, OVERNIGHT CHARGES ETC...</span></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><span style="font-size: 14.0pt; font-family: Wingdings; color: black;">&Oslash;</span><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: black;">&nbsp;&nbsp;</span><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: black;">Boat ride at Udaipur- Lake Pichola.&nbsp;</span></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><span style="font-size: 14.0pt; font-family: Wingdings; color: black;">&Oslash;</span><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: black;">&nbsp;&nbsp;</span><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: black;">Elephant Ride At Amber Fort &ndash; Amber.</span></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><span style="font-size: 14.0pt; font-family: Wingdings; color: black;">&Oslash;</span><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: black;">&nbsp;&nbsp;</span><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: black;">Boat ride at Ganges --Varanasi.&nbsp;</span></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><span style="font-size: 14.0pt; font-family: Wingdings; color: black;">&Oslash;</span><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: black;">&nbsp;&nbsp;</span><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: black;">Present Entrance Fees of monuments.</span></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><span style="font-size: 14.0pt; font-family: Wingdings; color: black;">&Oslash;</span><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: black;">&nbsp;&nbsp;</span><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: black;">Accompanying English Guide Charges.</span></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: black;">-&nbsp; Local guide in Ahmedabad and Amritsar</span></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: black;">-&nbsp; One Tour Leader free on 15 paying pax.&nbsp;</span></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><span style="font-size: 14.0pt; font-family: Wingdings; color: black;">&Oslash;</span><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: black;">&nbsp;&nbsp;</span><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: black;">PRESENT GST</span></p>
				<ul>
				<li style="text-indent: -18.0pt; background: white; margin: 0cm 0cm .0001pt 36.0pt;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: black;">French or English speaking Tour Director from Ottawa to Ottawa</span></li>
				<li style="text-indent: -18.0pt; background: white; margin: 0cm 0cm .0001pt 36.0pt;"><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: black;">All Tips on the tour are included ( Porters, Restaurants, Mounuments, Local Guides, Drivers and helpers etc.)</span></li>
				<li style="text-indent: -18.0pt; background: white; margin: 0cm 0cm .0001pt 36.0pt;">&nbsp;</li>
				</ul>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><strong><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: black;">The cost does not include:</span></strong></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><span style="font-size: 14.0pt; font-family: Wingdings; color: black;">&Oslash;</span><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: black;">&nbsp;&nbsp;</span><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: black;">Domestic Airfare, Meals not specified, Expenses of personal nature such as telephone bills, laundry, bar bills etc.</span></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: black;">&nbsp;</span></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><strong><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: black;">&nbsp;</span></strong></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><strong><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: red;">&nbsp;</span></strong></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><strong><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: red;">&nbsp;</span></strong></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><strong><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: red;">&nbsp;</span></strong></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><strong><span style="font-size: 14.0pt; font-family: 'Verdana',sans-serif; color: red;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Details </span></strong><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: red;">&nbsp;FOR&nbsp;<strong>AIR FARE</strong>&nbsp;:-&nbsp; Usd 300 pp (Total)</span></p>
				<p style="text-align: justify; background: white; margin: 0cm 0cm .0001pt 36.0pt;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: red;">&nbsp;</span></p>
				<p style="text-align: justify; background: white; margin: 0cm 0cm .0001pt 36.0pt;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: red;">&nbsp; &nbsp; &nbsp; &nbsp;Delhi / Varanasi -- Usd 110&nbsp;PER PERSON&nbsp;</span></p>
				<p style="text-align: justify; background: white; margin: 0cm 0cm .0001pt 36.0pt;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: red;">&nbsp; &nbsp; &nbsp; &nbsp;Varanasi/Delhi&nbsp; &nbsp;-- Usd 110 &nbsp;PER PERSON&nbsp;</span></p>
				<p style="text-align: justify; background: white; margin: 0cm 0cm .0001pt 36.0pt;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: red;">&nbsp; &nbsp; &nbsp; &nbsp;Delhi / Amritsar&nbsp; -- Usd&nbsp; 80 PER PERSON</span></p>
				<p style="text-align: justify; background: white; margin: 0cm 0cm .0001pt 36.0pt;"><span style="font-size: 14.0pt; font-family: 'Calibri',sans-serif; color: red;">&nbsp;</span></p>
				<p style="text-align: justify; background: white; margin: 0cm 0cm .0001pt 36.0pt;"><strong><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: black;">ABOVE GIVEN AIR FARES ARE SUBJECT TO CHANGE AS YOU KNOW AIR FARE THESE DAYS ARE CHANGING EVERY DAY SO WE CAN NOT CONFIRM THE EXACT PRICE UNLESS TICKETS ARE BOOKED&hellip;&nbsp; SO THE FARES ARE TENTATIVE. IT CAN&nbsp; INCREASE OR DECREASE AT THE TIME OF BOOKING&hellip;&nbsp; PLEASE KEEP A NOTE ON THIS. AND WE WILL CONFIRM&nbsp; EXACT PRICE ONCE WE ISSUE THE AIR TICKETS..&nbsp;&nbsp;SO PLEASE LET US KNOW THE NAMES AS ON PASSORT URGENTLY TO&nbsp; BOOK AND ISSUE THE TICKETS AS TIME IS SHORT AND EVERY PASSING DAY WILL INCREASE THE AIR FARES..</span></strong></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: #26282a;">&nbsp;</span></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: #26282a;">&nbsp;</span></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><u><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: black;">** IMPORTANT NOTE**-</span></u></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: #222222;">&nbsp;</span></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: black;">1,&nbsp;&nbsp; We will not be responsible, If airlines cancels the flight or change the schedule..&nbsp; We will be there&nbsp; to do whatever best possible so that you continue your trip and keep enjoying it..&nbsp; But in doing this, if any extra expense incurred, will be borne by the clients.. &nbsp;</span></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: black;">&nbsp;</span></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: black;">2, &nbsp;You must buy and travel with your travel&nbsp; insurance, as we do not provide any insurance from our side.&nbsp;</span></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: #222222;">&nbsp;</span></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: black;">3,&nbsp; If Govt increases the Taxes&nbsp; or Entrance fees further to the monuments, we will inform you and will be charged accordingly. &nbsp;</span></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><span style="font-size: 14.0pt; font-family: 'Calibri',sans-serif; color: black;">&nbsp;</span></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: black;">I hope you will find above in order.. .if&nbsp; require any other information or clarification please let me know&nbsp;</span></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><span style="font-size: 14.0pt; font-family: 'Calibri',sans-serif; color: black;">&nbsp;&nbsp;</span></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; background: white;"><span style="font-size: 14.0pt; font-family: 'Arial',sans-serif; color: black;">With best regards&nbsp;</span></p>
				</div>	
				<%#= link_to 'Back', quotations_path %>
			</div>	
		</div>
	</div>
</div>	
