<div class="align-self-center w-100">
  <div class="container">
    <div class="row" style="margin-top: 12%;">
      <div style="text-align: center;">
        <h3 class="text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-40 mb-0">
          <br><span class="g-color-black">We have received your response & will contact you soon . Thank you for choosing US</span>
        </h3>

      </div>  
    </div>
  </div>
</div>


