<div style="background-color: #f0f4f7;" >
  <%= form_with(model: quotation, local: true) do |form| %>
  <div class="form-group g-mb-10">
    <% if quotation.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(quotation.errors.count, "error") %> prohibited this quotation from being saved:</h2>

        <ul>
        <% quotation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>  
  <div class="form-group g-mb-10">
    <div style="background-color: #f0f4f7;height: 60px;" class="form-control g-font-size-15 g-font-secondary  g-placeholder-inherit  g-resize-none g-brd-none g-rounded-1 g-pa-10" >
      <div style = "width:100%;float: left;">
        <input id="One_way" name="tripType" value="one_way" type="radio"> 
        <label for="One_way"><span></span>One way</label> 
        <input id="Round_Trip" name="tripType" checked="" value="round_trip" type="radio"> 
        <label for="Round_Trip"><span></span>Round Trip</label> 
        <input id="Multi_City" name="tripType" value="multi_city" type="radio">
        <label for="Multi_City"><span></span>Multi City</label>
      </div>  
    </div>
  </div>
  <div style="width: 100%;float: left;height: 1px;background-color: rgba(0,0,0,0.14);margin: 15px 0px;"></div>
  <div class="form-group g-mb-10">
    <div style="background-color: #f0f4f7;height: 60px;" class="form-control g-font-size-15 g-font-secondary  g-placeholder-inherit  g-resize-none g-brd-none g-rounded-1 g-pa-10" >
      <div style = "width:50%;float: left;">
        <label>Origin *</label> <%= form.text_field :origin  %>
      </div>  
      <div style = "width:50%;float: left;">  
        <label>Destination *</label><%= form.text_field :destination  %>
      </div>  
    </div>
  </div>
  <div style="width: 100%;float: left;height: 1px;background-color: rgba(0,0,0,0.14);margin: 15px 0px;"></div>
  <div class="form-group g-mb-10">
    <div style="background-color: #f0f4f7;height: 60px;" class="form-control g-font-size-15 g-font-secondary  g-placeholder-inherit  g-resize-none g-brd-none g-rounded-1 g-pa-10" >
      <div style = "width:50%;float: left;">
        <label>Depart date *</label> <%= form.date_select :start_date %>
      </div>
      <div style = "width:50%;float: left;">  
        <label>Departure Time</label> 
        <select name="starttime" class="combo1" id="starttime"> 
          <option value="Any Time" selected="">Any Time</option> 
          <option value="Morning">Morning</option> 
          <option value="Afternoon">Afternoon</option>
          <option value="Evening">Evening</option> 
          <option value="00:00 AM">00:00 AM</option> 
          <option value="01:00 AM">01:00 AM</option> 
          <option value="02:00 AM">02:00 AM</option> 
          <option value="03:00 AM">03:00 AM</option> 
          <option value="04:00 AM">04:00 AM</option> 
          <option value="05:00 AM">05:00 AM</option> 
          <option value="06:00 AM">06:00 AM</option>
          <option value="07:00 AM">07:00 AM</option> 
          <option value="08:00 AM">08:00 AM</option> 
          <option value="09:00 AM">09:00 AM</option>
          <option value="10:00 AM">10:00 AM</option>
          <option value="11:00 AM">11:00 AM</option>
          <option value="12:00">Noon</option> 
          <option value="01:00 PM">01:00 PM</option> 
          <option value="02:00 PM">02:00 PM</option> 
          <option value="03:00 PM">03:00 PM</option> 
          <option value="04:00 PM">04:00 PM</option> 
          <option value="05:00 PM">05:00 PM</option> 
          <option value="06:00 PM">06:00 PM</option> 
          <option value="07:00 PM">07:00 PM</option> 
          <option value="08:00 PM">08:00 PM</option> 
          <option value="09:00 PM">09:00 PM</option> 
          <option value="10:00 PM">10:00 PM</option> 
          <option value="11:00 PM">11:00 PM</option> 
        </select> 
      </div>  
    </div>
  </div>
  <div style="width: 100%;float: left;height: 1px;background-color: rgba(0,0,0,0.14);margin: 15px 0px;"></div>
  <div class="form-group g-mb-10">
    <div style="background-color: #f0f4f7;height: 60px;" class="form-control g-font-size-15 g-font-secondary  g-placeholder-inherit  g-resize-none g-brd-none g-rounded-1 g-pa-10" >
      <div style = "width:50%;float: left;"> 
        <label>Return date *</label> <%= form.date_select :return_date %>
      </div>
      <div style = "width:50%;float: left;">   
        <label>Return Time</label> 
        <select name="returntime" class="combo1" id="returntime"> 
          <option value="Any Time" selected="">Any Time</option> 
          <option value="Morning">Morning</option> 
          <option value="Afternoon">Afternoon</option>
          <option value="Evening">Evening</option> 
          <option value="00:00 AM">00:00 AM</option> 
          <option value="01:00 AM">01:00 AM</option> 
          <option value="02:00 AM">02:00 AM</option> 
          <option value="03:00 AM">03:00 AM</option> 
          <option value="04:00 AM">04:00 AM</option> 
          <option value="05:00 AM">05:00 AM</option> 
          <option value="06:00 AM">06:00 AM</option>
          <option value="07:00 AM">07:00 AM</option> 
          <option value="08:00 AM">08:00 AM</option> 
          <option value="09:00 AM">09:00 AM</option>
          <option value="10:00 AM">10:00 AM</option>
          <option value="11:00 AM">11:00 AM</option>
          <option value="12:00">Noon</option> 
          <option value="01:00 PM">01:00 PM</option> 
          <option value="02:00 PM">02:00 PM</option> 
          <option value="03:00 PM">03:00 PM</option> 
          <option value="04:00 PM">04:00 PM</option> 
          <option value="05:00 PM">05:00 PM</option> 
          <option value="06:00 PM">06:00 PM</option> 
          <option value="07:00 PM">07:00 PM</option> 
          <option value="08:00 PM">08:00 PM</option> 
          <option value="09:00 PM">09:00 PM</option> 
          <option value="10:00 PM">10:00 PM</option> 
          <option value="11:00 PM">11:00 PM</option> 
        </select> 
      </div>  
    </div>
  </div>
  <div style="width: 100%;float: left;height: 1px;background-color: rgba(0,0,0,0.14);margin: 15px 0px;"></div>
  <div class="form-group g-mb-10">
    <div style="background-color: #f0f4f7;height: 60px;" class="form-control g-font-size-15 g-font-secondary  g-placeholder-inherit  g-resize-none g-brd-none g-rounded-1 g-pa-10" >
      <div style = "width:33%;float: left;"> 
        <label>Name *</label> <%= form.text_field :name %>
      </div>
      <div style = "width:33%;float: left;">   
        <label>Phone *</label> <%= form.number_field :phone %>
      </div>  
      <div style = "width:33%;float: left;">   
        <label>Email *</label> <%= form.text_field :email %> 
      </div>  
    </div>
  </div>
  <div style="width: 100%;float: left;height: 1px;background-color: rgba(0,0,0,0.14);margin: 15px 0px;"></div>
  <div class="form-group g-mb-10">
    <div style="background-color: #f0f4f7;height: 60px;" class="form-control g-font-size-15 g-font-secondary  g-placeholder-inherit  g-resize-none g-brd-none g-rounded-1 g-pa-10" >
      <div style = "width:33%;float: left;"> 
        <label>Adults *</label> 
        <select name="Adult" id="Adult"> 
        <option value="1">1</option> 
        <option value="2">2</option> 
        <option value="3">3</option> 
        <option value="4">4</option> 
        <option value="5">5</option> 
        <option value="6">6</option> 
        <option value="7">7</option> 
        <option value="8">8</option> 
        <option value="9">9</option> 
        <option value="15">10+</option>
        </select>
      </div>
      <div style = "width:33%;float: left;">    
        <label>Infants</label> 
        <select name="infants" id="infants"> 
        <option value="0">0</option> 
        <option value="1">1</option> 
        <option value="2">2</option> 
        <option value="3">3</option> 
        <option value="4">4</option> 
        <option value="5">5</option> 
        <option value="6">6</option> 
        <option value="7">7</option> 
        <option value="8">8</option> 
        <option value="9">9</option> 
        <option value="15">10+</option> 
        </select>
      </div>
      <div style = "width:33%;float: left;">     
        <label>Children</label> 
        <select name="children" id="children"> 
        <option value="0">0</option> 
        <option value="1">1</option> 
        <option value="2">2</option> 
        <option value="3">3</option> 
        <option value="4">4</option> 
        <option value="5">5</option> 
        <option value="6">6</option> 
        <option value="7">7</option> 
        <option value="8">8</option> 
        <option value="9">9</option> 
        <option value="15">10+</option> 
        </select>  
      </div>  
    </div>
  </div>
  <div style="width: 100%;float: left;height: 1px;background-color: rgba(0,0,0,0.14);margin: 15px 0px;"></div>
  <div class="form-group g-mb-10">
    <div style="background-color: #f0f4f7;height: 60px;" class="form-control g-font-size-15 g-font-secondary  g-placeholder-inherit  g-resize-none g-brd-none g-rounded-1 g-pa-10" >
      <div style = "width:33%;float: left;"> 
        <label>Airline (Preference1)</label> 
        <select name="airlinepreference1" class="combo4" id="airlinepreference1"> 
          <option value="" selected="">(Preference1) </option> 
          <option>Aer Lingus </option> 
          <option>Aeroflot </option>
          <option>Aerolineas Argen </option>
          <option>Aerolyn </option>
          <option>Aeromar </option> <option>Aeromar Air </option> <option>Aeromexico </option> <option>AeroRepublica </option> <option>Aerosvit </option> <option>Air Afrique </option> <option>Air Algerie </option> <option>Air Alliance </option> <option>Air ALM </option> <option>Air Alps </option> <option>Air Asia </option> <option>Air Austral </option> <option>Air Bosnia </option> <option>Air Botnia </option> <option>Air Botswana </option> <option>Air Bretagne </option> <option>Air Caledonie </option> <option>Air Canada </option> <option>Air Caraibes </option> <option>Air China </option> <option>Air Creebec </option> <option>Air Europa </option> <option>Air Europe </option> <option>Air Fiji </option> <option>Air France </option> <option>Air India </option> <option>Air Jamaica </option> <option>Air Kazakstan </option> <option>Air Liberte </option> <option>Air Lithuania </option> <option>Air Macau </option> <option>Air Madagascar </option> <option>Air Malta </option> <option>Air Mauritius </option> <option>Air Moldova </option> <option>Air Moldova Intl </option> <option>Air Montreal </option> <option>Air Namibia </option> <option>Air New Zealand </option> <option>Air North Region </option> <option>Air One </option> <option>Air Pacific </option> <option>Air Portugal </option> <option>Air Sask </option> <option>Air Seychelles </option> <option>Air Tahiti </option> <option>Air Tahiti Nui </option> <option>Air Tanzania </option> <option>Air Transat </option> <option>Air Ukraine </option> <option>Air West Sweden </option> <option>Air Zambezi </option> <option>Air Zimbabwe </option> <option>AirBC </option> <option>Alaska Airlines </option> <option>Alaska Seaplane </option> <option>Albanian Air </option> <option>Alitalia </option> <option>Alitalia Team </option> <option>All Airlines </option> <option>Alliance Uganda </option> <option>Aloha Airlines </option> <option>America West </option> <option>American </option> <option>American Trans </option> <option>Ansett Australia </option> <option>APA Intl Air </option> <option>Armenian </option> <option>Arnhem Land </option> <option>Aserca Air </option> <option>Asiana Airlines </option> <option>Atlantic Coast A </option> <option>Atlantic Faroe </option> <option>Augsburg Airways </option> <option>Aurigny Air Svc </option> <option>Austral Lineas </option> <option>Austrian Air </option> <option>Avensa </option> <option>Aviacsa Consorci </option> <option>Avianca </option> <option>Aviateca </option> <option>Aviompex </option> <option>Axon Airlines </option> <option>Azzurra Air </option> <option>Bahamasair </option> <option>Bangkok Airways </option> <option>Bearskin Airline </option> <option>Belavia </option> <option>Bellview </option> <option>Bering Air </option> <option>Big Sky </option> <option>Biman Bangladesh </option> <option>Binter Canarias </option> <option>Binter Mediterra </option> <option>Birmingham </option> <option>bmi british </option> <option>Braathens ASA </option> <option>Brit Air </option> <option>British Airways </option> <option>British Intl </option> <option>British Mediterr </option> <option>BWIA Intl </option> <option>Cameroon </option> <option>Canada 3000 </option> <option>Cape Air </option> <option>Cape Smythe Air </option> <option>Cathay Pacific </option> <option>Cayman Airways </option> <option>Chalair </option> <option>China Airlines </option> <option>China Eastern </option> <option>China Southern </option> <option>Cimber Air </option> <option>Cirrus Airlines </option> <option>City Bird </option> <option>City Jet </option> <option>Coast Air K/S </option> <option>Colgan Air </option> <option>Columbia Pacific </option> <option>Comair Inc. </option> <option>Comair Ltd. </option> <option>Compagnie Corse </option> <option>Condor </option> <option>Continental </option> <option>Copa Airlines </option> <option>Corp Express </option> <option>Country Connectn </option> <option>Croatia Airlines </option> <option>Cronus Air </option> <option>Crossair </option> <option>Cyprus Airways </option> <option>Czech Airlines </option> <option>Daallo Airlines </option> <option>Danish Air </option> <option>Delta </option> <option>Deutsche BA </option> <option>Dinar Lineas </option> <option>Dnieproavia </option> <option>Dominicanas </option> <option>Dragonair Hong </option> <option>Eagle Airlines </option> <option>Eastland Air </option> <option>Ecuatoriana </option> <option>Egyptair </option> <option>El Al Israel </option> <option>Emirates Air </option> <option>ERA Aviation </option> <option>Estonian Air </option> <option>Ethiopian Air </option> <option>Euralair Intl </option> <option>Eureca </option> <option>European Regions </option> <option>Eurowings </option> <option>EVA Airways </option> <option>Falcon Air </option> <option>Far Eastern Air </option> <option>Federico II </option> <option>Finnair </option> <option>First Air </option> <option>Flight West </option> <option>Flying Enterpris </option> <option>Frontier </option> <option>Frontier Flying </option> <option>Futura Intl Air </option> <option>Gandalf Airlines </option> <option>Garuda </option> <option>GB Airways </option> <option>Ghana Airways </option> <option>Gill Airways </option> <option>Golden Air </option> <option>Great Lakes </option> <option>Greenlandair </option> <option>Gulf Air </option> <option>Gulfstream Intl </option> <option>Guyana Airways </option> <option>Hageland </option> <option>Hahn Air </option> <option>Hapag Lloyd </option> <option>Harbor Airlines </option> <option>Harbour Air </option> <option>Hawaiian </option> <option>Hazelton </option> <option>Heli-Air Monaco </option> <option>Helijet Intl </option> <option>Helikopterservic </option> <option>Hemus Air </option> <option>Highland Air </option> <option>Horizon Air </option> <option>Iberia </option> <option>ICAR </option> <option>Icelandair </option> <option>Impulse Airlines </option> <option>Indian Airlines </option> <option>Inter Air </option> <option>Internacionales </option> <option>Intl Business </option> <option>Iran Air </option> <option>Island Air Hawai </option> <option>Island Express </option> <option>Isle Nat Air </option> <option>Japan Air System </option> <option>Japan Airlines </option> <option>Japan Asia </option> <option>Jersey European </option> <option>Jet Airways </option> <option>K D Air </option> <option>Kavminvodyavia </option> <option>Kendell </option> <option>Kenmore Air </option> <option>Kenya Airways </option> <option>KLM </option> <option>KLM Alps </option> <option>KLM Cityhopper </option> <option>KLM Exel </option> <option>KLM UK </option> <option>Korean Air </option> <option>Kuwait Airways </option> <option>L A B Flying </option> <option>Labrador </option> <option>Lacsa </option> <option>Ladeco </option> <option>LAM </option> <option>Lan Chile </option> <option>LAPA </option> <option>Larry's Flying </option> <option>Lauda Air </option> <option>Liat Ltd </option> <option>Linea Aerea </option> <option>Lion Airlines </option> <option>Lithuanian </option> <option>Lloyd Aereo Boli </option> <option>LOT Polish </option> <option>LTU Intl </option> <option>Lufthansa </option> <option>Luxair </option> <option>Macair </option> <option>Macedonian Air </option> <option>Maersk Air </option> <option>Malaysia </option> <option>Malev Hungarian </option> <option>Mandarin </option> <option>Manx Airlines </option> <option>Maroomba Air </option> <option>Martinair Hollan </option> <option>Mauritanie </option> <option>MaxAir </option> <option>Medellin Aeronau </option> <option>Meridiana </option> <option>Merpati Nusanta </option> <option>Mesa Airlines </option> <option>Mexicana </option> <option>Micronesia </option> <option>Middle East </option> <option>Midway Airlines </option> <option>Midwest Express </option> <option>Milne Bay Air </option> <option>Moldavian </option> <option>Monarch Airlines </option> <option>Mongolian </option> <option>Mount Cook </option> <option>Muk Air </option> <option>Myanmar Air </option> <option>Nakina Air </option> <option>National </option> <option>National Air </option> <option>National Jet </option> <option>Nationwide Air </option> <option>Nicaragua Airl </option> <option>Nice Helicoptere </option> <option>Nordeste-Linhas </option> <option>North Vancouver </option> <option>Northwest </option> <option>Northwestern Air </option> <option>NWT Air </option> <option>O'Connor Air </option> <option>Olympic Airways </option> <option>Oman Aviation </option> <option>Orient Thai </option> <option>Ostfriesisc Air </option> <option>Other Travel </option> <option>Pacific Coastal </option> <option>Pakistan Intl </option> <option>Palestinian Airl </option> <option>PanAm Air Bridge </option> <option>Pem Air Ltd </option> <option>PenAir </option> <option>Philippine </option> <option>Pluna </option> <option>Polynesian </option> <option>Portugalia </option> <option>Promech </option> <option>Provincial Airl </option> <option>Pulkovo </option> <option>Qantas Airways </option> <option>Qantas New Zealn </option> <option>Qatar Airways </option> <option>Reeve Aleutian </option> <option>Regional </option> <option>Regional Air KE </option> <option>Regional Air MA </option> <option>Regionnair </option> <option>Rheintaflug </option> <option>Riga Airlines </option> <option>Rio Sul </option> <option>Roan Air </option> <option>Royal Air Maroc </option> <option>Royal Aviation </option> <option>Royal Brunei </option> <option>Royal Jordanian </option> <option>Royal Nepal </option> <option>Royal Swazi </option> <option>Royal Tongan </option> <option>RyanAir </option> <option>Sabena </option> <option>Sahara Airlines </option> <option>Samara Air </option> <option>SAS </option> <option>SATA Air Acores </option> <option>SATA Intl </option> <option>Saudi Arabian </option> <option>Scenic Airlines </option> <option>Scilly Skybus </option> <option>Servivensa </option> <option>Shuswap Air </option> <option>Shuttle America </option> <option>SilkAir </option> <option>Singapore Airl </option> <option>Skippers </option> <option>Sky West </option> <option>Skytrans </option> <option>Skyward Aviation </option> <option>Skyways </option> <option>Slovak Air </option> <option>Solomon </option> <option>South African </option> <option>South Australia </option> <option>Southern Winds </option> <option>Spanair </option> <option>Spirit Airlines </option> <option>SriLankan </option> <option>Suckling </option> <option>Sun Air Scandina </option> <option>Sun Country </option> <option>Sunflower </option> <option>Sunshine Express </option> <option>Sunworld Intl </option> <option>Surinam Airways </option> <option>Swedeways Air </option> <option>Swissair </option> <option>Syrian Arab Air </option> <option>TAAG Angola </option> <option>Taca Intl </option> <option>TACV Cabo Verde </option> <option>TAM del Mercosur </option> <option>TAM Meridionais </option> <option>TAM Regionais </option> <option>Tanana Air Svc </option> <option>Tarom-Romanian </option> <option>Tavrey Air </option> <option>Tempelhof Expres </option> <option>Thai Intl </option> <option>Tie Aviation </option> <option>Trans States </option> <option>Trans Travel Air </option> <option>Transaero </option> <option>TransAsia </option> <option>Transavia </option> <option>TransBrasil </option> <option>Transwest Air </option> <option>Tunis Air </option> <option>Turkish Airlines </option> <option>Turks And Caico </option> <option>TWA </option> <option>Tyrolean </option> <option>Ukraine Intl </option> <option>Uni Airways </option> <option>United </option> <option>US Airways </option> <option>Uzbekistan </option> <option>Vanguard </option> <option>Varig </option> <option>Varmlandsflyg </option> <option>VASP </option> <option>Vietnam Air </option> <option>Virgin Atlantic </option> <option>VLM Vlaamse </option> <option>Volare Air </option> <option>Warbelows Air </option> <option>West Coast Air </option> <option>Western Airlines </option> <option>Wideroes Flyvese </option> <option>Windward Island </option> <option>Wings of Alaska </option> <option>Wright Air Svc </option> <option>Yemenia Yemen </option> 
        </select> 
      </div>
      <div style = "width:33%;float: left;"> 
        <label>Airline (Preference2)</label> 
        <select name="airlinepreference2" class="combo4" id="airlinepreference2"> 
          <option value="" selected="">(Preference1) </option> <option>Aer Lingus </option> <option>Aeroflot </option> <option>Aerolineas Argen </option> <option>Aerolyn </option> <option>Aeromar </option> <option>Aeromar Air </option> <option>Aeromexico </option> <option>AeroRepublica </option> <option>Aerosvit </option> <option>Air Afrique </option> <option>Air Algerie </option> <option>Air Alliance </option> <option>Air ALM </option> <option>Air Alps </option> <option>Air Asia </option> <option>Air Austral </option> <option>Air Bosnia </option> <option>Air Botnia </option> <option>Air Botswana </option> <option>Air Bretagne </option> <option>Air Caledonie </option> <option>Air Canada </option> <option>Air Caraibes </option> <option>Air China </option> <option>Air Creebec </option> <option>Air Europa </option> <option>Air Europe </option> <option>Air Fiji </option> <option>Air France </option> <option>Air India </option> <option>Air Jamaica </option> <option>Air Kazakstan </option> <option>Air Liberte </option> <option>Air Lithuania </option> <option>Air Macau </option> <option>Air Madagascar </option> <option>Air Malta </option> <option>Air Mauritius </option> <option>Air Moldova </option> <option>Air Moldova Intl </option> <option>Air Montreal </option> <option>Air Namibia </option> <option>Air New Zealand </option> <option>Air North Region </option> <option>Air One </option> <option>Air Pacific </option> <option>Air Portugal </option> <option>Air Sask </option> <option>Air Seychelles </option> <option>Air Tahiti </option> <option>Air Tahiti Nui </option> <option>Air Tanzania </option> <option>Air Transat </option> <option>Air Ukraine </option> <option>Air West Sweden </option> <option>Air Zambezi </option> <option>Air Zimbabwe </option> <option>AirBC </option> <option>Alaska Airlines </option> <option>Alaska Seaplane </option> <option>Albanian Air </option> <option>Alitalia </option> <option>Alitalia Team </option> <option>All Airlines </option> <option>Alliance Uganda </option> <option>Aloha Airlines </option> <option>America West </option> <option>American </option> <option>American Trans </option> <option>Ansett Australia </option> <option>APA Intl Air </option> <option>Armenian </option> <option>Arnhem Land </option> <option>Aserca Air </option> <option>Asiana Airlines </option> <option>Atlantic Coast A </option> <option>Atlantic Faroe </option> <option>Augsburg Airways </option> <option>Aurigny Air Svc </option> <option>Austral Lineas </option> <option>Austrian Air </option> <option>Avensa </option> <option>Aviacsa Consorci </option> <option>Avianca </option> <option>Aviateca </option> <option>Aviompex </option> <option>Axon Airlines </option> <option>Azzurra Air </option> <option>Bahamasair </option> <option>Bangkok Airways </option> <option>Bearskin Airline </option> <option>Belavia </option> <option>Bellview </option> <option>Bering Air </option> <option>Big Sky </option> <option>Biman Bangladesh </option> <option>Binter Canarias </option> <option>Binter Mediterra </option> <option>Birmingham </option> <option>bmi british </option> <option>Braathens ASA </option> <option>Brit Air </option> <option>British Airways </option> <option>British Intl </option> <option>British Mediterr </option> <option>BWIA Intl </option> <option>Cameroon </option> <option>Canada 3000 </option> <option>Cape Air </option> <option>Cape Smythe Air </option> <option>Cathay Pacific </option> <option>Cayman Airways </option> <option>Chalair </option> <option>China Airlines </option> <option>China Eastern </option> <option>China Southern </option> <option>Cimber Air </option> <option>Cirrus Airlines </option> <option>City Bird </option> <option>City Jet </option> <option>Coast Air K/S </option> <option>Colgan Air </option> <option>Columbia Pacific </option> <option>Comair Inc. </option> <option>Comair Ltd. </option> <option>Compagnie Corse </option> <option>Condor </option> <option>Continental </option> <option>Copa Airlines </option> <option>Corp Express </option> <option>Country Connectn </option> <option>Croatia Airlines </option> <option>Cronus Air </option> <option>Crossair </option> <option>Cyprus Airways </option> <option>Czech Airlines </option> <option>Daallo Airlines </option> <option>Danish Air </option> <option>Delta </option> <option>Deutsche BA </option> <option>Dinar Lineas </option> <option>Dnieproavia </option> <option>Dominicanas </option> <option>Dragonair Hong </option> <option>Eagle Airlines </option> <option>Eastland Air </option> <option>Ecuatoriana </option> <option>Egyptair </option> <option>El Al Israel </option> <option>Emirates Air </option> <option>ERA Aviation </option> <option>Estonian Air </option> <option>Ethiopian Air </option> <option>Euralair Intl </option> <option>Eureca </option> <option>European Regions </option> <option>Eurowings </option> <option>EVA Airways </option> <option>Falcon Air </option> <option>Far Eastern Air </option> <option>Federico II </option> <option>Finnair </option> <option>First Air </option> <option>Flight West </option> <option>Flying Enterpris </option> <option>Frontier </option> <option>Frontier Flying </option> <option>Futura Intl Air </option> <option>Gandalf Airlines </option> <option>Garuda </option> <option>GB Airways </option> <option>Ghana Airways </option> <option>Gill Airways </option> <option>Golden Air </option> <option>Great Lakes </option> <option>Greenlandair </option> <option>Gulf Air </option> <option>Gulfstream Intl </option> <option>Guyana Airways </option> <option>Hageland </option> <option>Hahn Air </option> <option>Hapag Lloyd </option> <option>Harbor Airlines </option> <option>Harbour Air </option> <option>Hawaiian </option> <option>Hazelton </option> <option>Heli-Air Monaco </option> <option>Helijet Intl </option> <option>Helikopterservic </option> <option>Hemus Air </option> <option>Highland Air </option> <option>Horizon Air </option> <option>Iberia </option> <option>ICAR </option> <option>Icelandair </option> <option>Impulse Airlines </option> <option>Indian Airlines </option> <option>Inter Air </option> <option>Internacionales </option> <option>Intl Business </option> <option>Iran Air </option> <option>Island Air Hawai </option> <option>Island Express </option> <option>Isle Nat Air </option> <option>Japan Air System </option> <option>Japan Airlines </option> <option>Japan Asia </option> <option>Jersey European </option> <option>Jet Airways </option> <option>K D Air </option> <option>Kavminvodyavia </option> <option>Kendell </option> <option>Kenmore Air </option> <option>Kenya Airways </option> <option>KLM </option> <option>KLM Alps </option> <option>KLM Cityhopper </option> <option>KLM Exel </option> <option>KLM UK </option> <option>Korean Air </option> <option>Kuwait Airways </option> <option>L A B Flying </option> <option>Labrador </option> <option>Lacsa </option> <option>Ladeco </option> <option>LAM </option> <option>Lan Chile </option> <option>LAPA </option> <option>Larry's Flying </option> <option>Lauda Air </option> <option>Liat Ltd </option> <option>Linea Aerea </option> <option>Lion Airlines </option> <option>Lithuanian </option> <option>Lloyd Aereo Boli </option> <option>LOT Polish </option> <option>LTU Intl </option> <option>Lufthansa </option> <option>Luxair </option> <option>Macair </option> <option>Macedonian Air </option> <option>Maersk Air </option> <option>Malaysia </option> <option>Malev Hungarian </option> <option>Mandarin </option> <option>Manx Airlines </option> <option>Maroomba Air </option> <option>Martinair Hollan </option> <option>Mauritanie </option> <option>MaxAir </option> <option>Medellin Aeronau </option> <option>Meridiana </option> <option>Merpati Nusanta </option> <option>Mesa Airlines </option> <option>Mexicana </option> <option>Micronesia </option> <option>Middle East </option> <option>Midway Airlines </option> <option>Midwest Express </option> <option>Milne Bay Air </option> <option>Moldavian </option> <option>Monarch Airlines </option> <option>Mongolian </option> <option>Mount Cook </option> <option>Muk Air </option> <option>Myanmar Air </option> <option>Nakina Air </option> <option>National </option> <option>National Air </option> <option>National Jet </option> <option>Nationwide Air </option> <option>Nicaragua Airl </option> <option>Nice Helicoptere </option> <option>Nordeste-Linhas </option> <option>North Vancouver </option> <option>Northwest </option> <option>Northwestern Air </option> <option>NWT Air </option> <option>O'Connor Air </option> <option>Olympic Airways </option> <option>Oman Aviation </option> <option>Orient Thai </option> <option>Ostfriesisc Air </option> <option>Other Travel </option> <option>Pacific Coastal </option> <option>Pakistan Intl </option> <option>Palestinian Airl </option> <option>PanAm Air Bridge </option> <option>Pem Air Ltd </option> <option>PenAir </option> <option>Philippine </option> <option>Pluna </option> <option>Polynesian </option> <option>Portugalia </option> <option>Promech </option> <option>Provincial Airl </option> <option>Pulkovo </option> <option>Qantas Airways </option> <option>Qantas New Zealn </option> <option>Qatar Airways </option> <option>Reeve Aleutian </option> <option>Regional </option> <option>Regional Air KE </option> <option>Regional Air MA </option> <option>Regionnair </option> <option>Rheintaflug </option> <option>Riga Airlines </option> <option>Rio Sul </option> <option>Roan Air </option> <option>Royal Air Maroc </option> <option>Royal Aviation </option> <option>Royal Brunei </option> <option>Royal Jordanian </option> <option>Royal Nepal </option> <option>Royal Swazi </option> <option>Royal Tongan </option> <option>RyanAir </option> <option>Sabena </option> <option>Sahara Airlines </option> <option>Samara Air </option> <option>SAS </option> <option>SATA Air Acores </option> <option>SATA Intl </option> <option>Saudi Arabian </option> <option>Scenic Airlines </option> <option>Scilly Skybus </option> <option>Servivensa </option> <option>Shuswap Air </option> <option>Shuttle America </option> <option>SilkAir </option> <option>Singapore Airl </option> <option>Skippers </option> <option>Sky West </option> <option>Skytrans </option> <option>Skyward Aviation </option> <option>Skyways </option> <option>Slovak Air </option> <option>Solomon </option> <option>South African </option> <option>South Australia </option> <option>Southern Winds </option> <option>Spanair </option> <option>Spirit Airlines </option> <option>SriLankan </option> <option>Suckling </option> <option>Sun Air Scandina </option> <option>Sun Country </option> <option>Sunflower </option> <option>Sunshine Express </option> <option>Sunworld Intl </option> <option>Surinam Airways </option> <option>Swedeways Air </option> <option>Swissair </option> <option>Syrian Arab Air </option> <option>TAAG Angola </option> <option>Taca Intl </option> <option>TACV Cabo Verde </option> <option>TAM del Mercosur </option> <option>TAM Meridionais </option> <option>TAM Regionais </option> <option>Tanana Air Svc </option> <option>Tarom-Romanian </option> <option>Tavrey Air </option> <option>Tempelhof Expres </option> <option>Thai Intl </option> <option>Tie Aviation </option> <option>Trans States </option> <option>Trans Travel Air </option> <option>Transaero </option> <option>TransAsia </option> <option>Transavia </option> <option>TransBrasil </option> <option>Transwest Air </option> <option>Tunis Air </option> <option>Turkish Airlines </option> <option>Turks And Caico </option> <option>TWA </option> <option>Tyrolean </option> <option>Ukraine Intl </option> <option>Uni Airways </option> <option>United </option> <option>US Airways </option> <option>Uzbekistan </option> <option>Vanguard </option> <option>Varig </option> <option>Varmlandsflyg </option> <option>VASP </option> <option>Vietnam Air </option> <option>Virgin Atlantic </option> <option>VLM Vlaamse </option> <option>Volare Air </option> <option>Warbelows Air </option> <option>West Coast Air </option> <option>Western Airlines </option> <option>Wideroes Flyvese </option> <option>Windward Island </option> <option>Wings of Alaska </option> <option>Wright Air Svc </option> <option>Yemenia Yemen </option> 
        </select> 
      </div>
      <div style = "width:33%;float: left;"> 
        <label>Class of service</label> 
        <select name="classofeconomy" class="combo4" id="classofeconomy"> <option selected="">Economy </option> <option>Premium Economy </option> <option>Business </option> <option>First Class </option> </select>
      </div>  
    </div>
  </div>
  <div style="width: 100%;float: left;height: 1px;background-color: rgba(0,0,0,0.14);margin: 15px 0px;"></div>
  <div class="form-group g-mb-10">
    <div style="background-color: #f0f4f7;height: 60px;" class="form-control g-font-size-15 g-font-secondary  g-placeholder-inherit  g-resize-none g-brd-none g-rounded-1 g-pa-10" >
      <div style = "width:33%;float: left;"> 
        <label>Meal</label> 
        <select name="mealrequest" class="combo3" id="mealrequest"> <option selected="">None </option> <option>(AVML) ASIAN VEG. MEAL </option> <option>(BBML) INF/BABY FOOD </option> <option>(BLML) BLAND MEAL </option> <option>(CHML) CHILD MEAL </option> <option>(DBML) DIABETIC MEAL </option> <option>(GCHZ) GRILLED CHEESE </option> <option>(GFML) GLUTEN FREE </option> <option>(HFML) HIGH FIBER MEAL </option> <option>(HNML) HINDU MEAL </option> <option>(KSML) KOSHER </option> <option>(LCML) LOW CALORIE </option> <option>(LCRB) LOW CARBOHYDRATE </option> <option>(LFML) LOW CHOLES./FAT </option> <option>(LPML) LOW PROTEIN </option> <option>(LSML) LOW SODIUM </option> <option>(MOML) MUSLIM MEAL </option> <option>(NLML) NONLACTOSE# </option> <option>(NSML) NO SALT MEAL </option> <option>(ORML) ORIENTAL </option> <option>(PFML) PEANUT FREE MEAL </option> <option>(PRML) LOW PURINE MEAL </option> <option>(PZML) CHEESE PIZZA </option> <option>(RVML) RAW VEGETARIAN </option> <option>(SFML) SEAFOOD MEAL </option> <option>(SPML) SPEC REQUEST </option> <option>(VGML) VEGETARIAN </option> <option>(VLML) VEG/LACTO-OVO </option> 
        </select>
      </div>
      <div style = "width:33%;float: left;">    
        <label>Currency *</label> 
        <select name="currency" class="combo3" id="currency"> 
          <option selected="">CAD </option> 
          <option>USD </option>
          <option>INR </option> 
        </select> 
      </div>
      <div style = "width:33%;float: left;">
        <button class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 rounded-0 g-py-10 g-px-25" type="submit" role="button">Send Message</button>
      </div>
        
    </div>
  </div>
<% end %>
</div>
<br /><br />  
<br /><br />  
