<p id="notice"><%= notice %></p>

<h1>Quotations</h1>

<table>
  <thead>
    <tr>
      <th>Start date</th>
      <th>Location</th>
      <th>Return date</th>
      <th>Persons</th>
      <th>Visit purpose</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotations.each do |quotation| %>
      <tr>
        <td><%= quotation.start_date %></td>
        <td><%= quotation.location %></td>
        <td><%= quotation.return_date %></td>
        <td><%= quotation.persons %></td>
        <td><%= quotation.visit_purpose %></td>
        <td><%= link_to 'Show', quotation %></td>
        <td><%= link_to 'Edit', edit_quotation_path(quotation) %></td>
        <td><%= link_to 'Destroy', quotation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quotation', new_quotation_path %>
