<div class="align-self-center w-100">
	<div class="container">
		<div class="row" style="margin-top: 12%;">
			<div style="">
		  	<h3 class="text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-40 mb-0">
		    	<br><span class="g-color-black">PLease let us know the following details to help you :) .</span>
		  	</h3>
				<%= render 'form', quotation: @quotation %>
				<%#= link_to 'Back', quotations_path %>
			</div>	
		</div>
	</div>
</div>	
