<%begin%>
<P>Enquiry from Customer</P>
<table>
	<tr>
		<td>Name</td>
		<td><%=@user_name%></td>
	</tr>
	<tr>
		<td>Phone Number</td>
		<td><%=@user_phone%></td>
	</tr>
	<tr>
		<td>Message </td>
		<td><%=@message%></td>
	</tr>	
</table>
<%rescue%>

	
<%end%>