<%begin%>
<p>Enquiry from the Customer.</p>
<table>
	<tr>
		<td>Start Date</td>
		<td><%=@contact.start_date.to_date%></td>
	</tr>
	<tr>
		<td>Return Date</td>
		<td><%=@contact.return_date.to_date%></td>
	</tr>
	<tr>
		<td>Number of Persons </td>
		<td><%=@contact.persons%></td>
	</tr>	
	<tr>
		<td>Trip Type </td>
		<td><%=@contact.trip_type%></td>
	</tr>	
	<tr>
		<td>Origin </td>
		<td><%=@contact.origin%></td>
	</tr>
	<tr>
		<td>Destination </td>
		<td><%=@contact.destination%></td>
	</tr>
	<tr>
		<td>Starttime </td>
		<td><%=@contact.starttime%></td>
	</tr>
	<tr>
		<td>returntime </td>
		<td><%=@contact.returntime%></td>
	</tr>
	<tr>
		<td>Name </td>
		<td><%=@contact.name%></td>
	</tr>	
	<tr>
		<td>phone </td>
		<td><%=@contact.phone%></td>
	</tr>
	<tr>
		<td>email </td>
		<td><%=@contact.email%></td>
	</tr>
	<tr>
		<td>Adult Count </td>
		<td><%=@contact.Adult%></td>
	</tr>
	<tr>
		<td>Infants Count </td>
		<td><%=@contact.infants%></td>
	</tr>
	<tr>
		<td>Children Count </td>
		<td><%=@contact.children%></td>
	</tr>
	<tr>
		<td>Airline preference 1st </td>
		<td><%=@contact.airlinepreference1%></td>
	</tr>
	<tr>
		<td>Airline preference 2st </td>
		<td><%=@contact.airlinepreference2%></td>
	</tr>
	<tr>
		<td>Classofeconomy </td>
		<td><%=@contact.classofeconomy%></td>
	</tr>
	<tr>
		<td>Meal Request </td>
		<td><%=@contact.mealrequest%></td>
	</tr>
	<tr>
		<td>Currency </td>
		<td><%=@contact.currency%></td>
	</tr>			
</table>

<%rescue%>
	
<%end%>
