/* Add here all your css styles (customizations) */

.kb_wrapper .ms-slide-bgcont>img
{
    margin:auto;
    opacity:.8;
    width:100%!important;
    -webkit-transform-origin:100% 0;
    -moz-transform-origin:100% 0;
    -ms-transform-origin:100% 0;
    -o-transform-origin:100% 0;
    transform-origin:100% 0;
    -webkit-animation:immortalkenburns 10000ms linear 0s infinite alternate;
    animation:immortalkenburns 10000ms linear 0s infinite alternate
}
@-webkit-keyframes immortalkenburns
{
    0%
    {
        -webkit-transform:scale(1);
        -webkit-transition:-webkit-transform 10000ms linear 0s
    }
    100%
    {
        -webkit-transform:scale(1.2);
        -webkit-transition:-webkit-transform 10000ms linear 0s
    }

}
@-moz-keyframes immortalkenburns
{
    0%
    {
        -moz-transform:scale(1.5) rotate(0.1deg);
        -moz-transition:-moz-transform 10000ms linear 0s
    }
    100%
    {
        -moz-transform:scale(1);
        -moz-transition:-moz-transform 10000ms linear 0s
    }

}
/*@-ms-keyframes immortalkenburns
{
    0%
    {
        -ms-transform:scale(1);
        -ms-transition:-ms-transform 10000ms linear 0s
    }
    100%
    {
        -ms-transform:scale(1.2);
        -ms-transition:-ms-transform 10000ms linear 0s
    }

}*/
/*@-o-keyframes immortalkenburns
{
    0%
    {
        -o-transform:scale(1);
        -o-transition:-o-transform 10000ms linear 0s
    }
    100%
    {
        -o-transform:scale(1.2);
        -o-transition:-o-transform 10000ms linear 0s
    }

}*/
@keyframes immortalkenburns
{
    0%
    {
        transform:scale(1);
        transition:transform 10000ms linear 0s
    }
    100%
    {
        transform:scale(1.2);
        transition:transform 10000ms linear 0s
    }

}
