<!DOCTYPE html>
<html>
  <head>
    <title>Fairdeal Travel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <title>Travel | Unify - Responsive Website Template</title> -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="../../favicon.ico">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C500%2C600%2C700%2C800%7CRoboto%3A400%2C700%7CPlayfair+Display%7CRaleway%7CSpectral%7CRubik">
  <style type="text/css">
    #menu {
  background: #343434;
  color: #eee;
  height: 35px;
  border-bottom: 4px solid #eeeded
}

#menu ul,
#menu li {
  margin: 0 0;
  padding: 0 0;
  list-style: none
}

#menu ul {
  height: 35px
}

#menu li {
  float: left;
  display: inline;
  position: relative;
  font: bold 12px Arial;
  text-shadow: 0 -1px 0 #000;
  /*border-right: 1px solid #444;*/
  border-left: 1px solid #111;
  text-transform: uppercase
}

#menu li:first-child {
  border-left: none
}

#menu a {
  display: block;
  line-height: 35px;
  padding: 0 14px;
  text-decoration: none;
  color: #eee;
}

#menu li:hover > a,
#menu li a:hover {
  background: #111
}

#menu input {
  display: none;
  margin: 0 0;
  padding: 0 0;
  width: 80px;
  height: 35px;
  opacity: 0;
  cursor: pointer
}

#menu label {
  font: bold 30px Arial;
  display: none;
  width: 35px;
  height: 36px;
  line-height: 36px;
  text-align: center
}

#menu label span {
  font-size: 12px;
  position: absolute;
  left: 35px
}

#menu ul.menus {
  height: auto;
  width: 180px;
  background: #111;
  position: absolute;
  z-index: 99;
  display: none;
  border: 0;
}

#menu ul.menus li {
  display: block;
  width: 100%;
  font: 12px Arial;
  text-transform: none;
}

#menu li:hover ul.menus {
  display: block
}

#menu a.home {
  background: #c00;
}

#menu a.prett {
  padding: 0 27px 0 14px
}

#menu a.prett::after {
  content: "";
  width: 0;
  height: 0;
  border-width: 6px 5px;
  border-style: solid;
  border-color: #eee transparent transparent transparent;
  position: absolute;
  top: 15px;
  right: 9px
}

#menu ul.menus a:hover {
  background: #333;
}

#menu ul.menus .submenu {
  display: none;
  position: absolute;
  left: 180px;
  background: #111;
  top: 0;
  width: 180px;
}

#menu ul.menus .submenu li {
  background: #111;
}

#menu ul.menus .has-submenu:hover .submenu {
  display: block;
}
  </style>>
  </head>
  <!-- Header v1 -->
  <P style = "color: red">
  <%= @contact.errors.full_messages.first if @contact.present? and @contact.errors.any? %>
  </P>
  <header id="js-header" class="u-header u-header--sticky-top u-header--change-appearance mainheader"
          data-header-fix-moment="100">
    <div class="u-header__section g-transition-0_3 g-py-12 mainheader"
         data-header-fix-moment-exclude="g-py-12"
         data-header-fix-moment-classes="g-theme-bg-black-v1-opacity-0_8 g-py-7">
        <nav style="margin-top: -22px;">
          <ul id='menu'>
            <li style="padding-left: 75%;"><a class='prett' href='#' title='Menu'>Useful Links</a>
              <ul class='menus'>
<!--                 <li class='has-submenu'><a class='prett' href='Dropdown 1' title='Dropdown 1'>Dropdown 1 + Sub Menu</a>
                  <ul class='submenu'>
                    <li><a href="#" title="Sub Menu">Sub Menu</a></li>
                    <li><a href="#" title="Sub Menu">Sub Menu 2</a></li>
                    <li><a href="#" title="Sub Menu">Sub Menu 3</a></li>
                  </ul>
                </li> -->
                <li><a href='/airport_info' title='Airport Info'>Airport Info</a></li>
                <li><a href='/airline_info' title='Airlines Info'>Airlines Info</a></li>
                <li><a href='/baggage_info' title='Baggage Info'>Baggage Info</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <nav style="margin-top: -18px;">
          <ul id='menu'>
            <li>
                <marquee direction="left">We have great deals for flights. please contact us for more information.</marquee>
            </li>
          </ul>
        </nav>
      <nav class="navbar navbar-expand-lg g-py-0">
        <div class="container g-pos-rel">
          <!-- Logo -->
          <a href="/" class="js-go-to  u-header__logo"
             data-type="static">
            <img class="u-header__logo-img u-header__logo-img--main g-width-150" src="/assets/img/logo.png" alt="Image description">
          </a>
          <!-- End Logo -->

          <!-- Navigation -->
          <div class="collapse navbar-collapse align-items-center flex-sm-row" id="navBar">
            <ul id="js-scroll-nav" class="navbar-nav text-uppercase g-font-weight-700 g-font-size-11 g-pt-20 g-pt-0--lg ml-auto">
              <li class="nav-item g-mr-15--lg g-mb-7 g-mb-0--lg active">
                <!-- <a href="/indian_tour" class="nav-link p-0">Our tours <span class="sr-only">(current)</span></a> -->
                <a href="/indian_tour" class="nav-link p-0">Our tours</a>
              </li>
              <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                <a href="https://www.getreliable.com/direct/login.aspx?ag={da38fd24-8afe-402a-ae3a-157a2d46b0bb}" target="_blank" class="nav-link p-0">Insurance</a>
              </li>
              <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                <a href="https://indianvisaonline.gov.in/visa/index.html" target="_blank" class="nav-link p-0">Indian Visa</a>
              </li>
              <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                <a href="/quotations" class="nav-link p-0">Request a Quote</a>
              </li>
              <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                <a href="#testimonials" class="nav-link p-0">About Us</a>
              </li>
              <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                <a href="#contact" class="nav-link p-0">Contact</a>
              </li>
            </ul>
          </div>
          <!-- End Navigation -->

          <!-- Responsive Toggle Button -->
          <button class="navbar-toggler btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-20 g-right-0" type="button"
                  aria-label="Toggle navigation"
                  aria-expanded="false"
                  aria-controls="navBar"
                  data-toggle="collapse"
                  data-target="#navBar">
            <span class="hamburger hamburger--slider">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </span>
          </button>
          <!-- End Responsive Toggle Button -->
        </div>
      </nav>
    </div>
</header>
<!-- End Header v1 -->
  <body>
    <main>
      <%= yield %>
    </main>
  </body>
  <footer class="text-center">
    <div id="contact" class="container-fluid g-font-weight-500 g-font-size-16 g-color-white-opacity-0_7">
      <div class="row">
        <div class="col-md-12 col-lg-4 px-0">
          <!-- Google (Map) [custom] -->
          <div class="g-pos-rel g-height-680">
            <!-- <div id="gMap1" class="js-g-map g-pos-abs w-100 h-100"
                 data-type="custom"
                 data-lat="45.249814"
                 data-lng="-76.0804347"
                 data-zoom="10"
                 data-title="Travel"
                 data-styles='[
                     ["", "", [{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]],
                     ["", "labels", [{"visibility":"on"}]],
                     ["water", "", [{"color":"#bac6cb"}]]
                   ]'
                 data-pin="true"
                 data-pin-icon="/assets/img/pin.png"></div> -->
           <!--  <iframe src="https://www.google.com/maps/embed?pb=!4v1531900373084!6m8!1m7!1sg-G07okcgkORPikgqFVTHg!2m2!1d45.37919877460008!2d-75.66773315541604!3f61.360325596322184!4f0.5006679281821249!5f0.7820865974627469" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe> -->
            <iframe width="100%" height="100%" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=1581%20Bank%20St%20%239%2C%20Ottawa%2C%20ON%20K1H%207Z3%2C%20Canada+(Fairdeal%20Travels)&amp;ie=UTF8&amp;t=h&amp;z=18&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" ></iframe> 
          </div>
          <!-- End Google (Map) [custom] -->
        </div>

        <div class="col-md-6 col-lg-4 d-flex g-bg-primary g-pa-40">
          <div class="align-self-center w-100">
            <div class="u-heading-v8-2 g-mb-40">
              <h2 class="text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-40 mb-0">
                <strong class="h6 d-inline-block g-theme-bg-black-v1 g-color-white g-mb-20">Contact Us</strong>
                <br><span class="g-color-white">Get in</span> touch
              </h2>
            </div>

            <p class="g-line-height-1_3 g-font-size-16 g-color-white-opacity-0_8 g-mb-45" style="text-align: justify;">Fair Deal Travels is a leading travel management company in Canada servicing Leisure, Religious and Business Travel sectors. Whatever the purpose of your trip, the places you want to see and the experiences you wish to enjoy . Fair Deal Travels is your natural choice for the best flights, hotels, cruises and tours. We can provide you with all the best air fares and hotel deals. Our Team of Experts is eager to assist you with your holiday planning and bookings. What ever you are thinking of in travel, we have the answer</p>

            <address class="text-uppercase g-font-size-default g-mb-40">
              <div class="g-mb-20">
                Email:
                <a class="g-color-white" href="mailto:marketing@unify.com"><strong>info@fairdealtravel.ca</strong></a>
              </div>

              <div class="g-mb-20">
                Phone number:
                <strong class="g-color-white">+1 613-686-1233</strong>
              </div>

              <div>
                Address:
                <strong class="g-color-white">1581 Bank St #9, Ottawa, ON K1H 7Z3, Canada</strong>
              </div>
            </address>

            <ul class="list-inline mb-0">
              <li class="list-inline-item g-mr-10">
                <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-gray-dark-v2--hover g-transition-0_2 g-transition--ease-in" href="#!"><i class="fa fa-twitter"></i></a>
              </li>
              <li class="list-inline-item g-mr-10">
                <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-gray-dark-v2--hover g-transition-0_2 g-transition--ease-in" href="#!"><i class="fa fa-pinterest"></i></a>
              </li>
              <li class="list-inline-item g-mr-10">
                <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-gray-dark-v2--hover g-transition-0_2 g-transition--ease-in" href="#!"><i class="fa fa-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-gray-dark-v2--hover g-transition-0_2 g-transition--ease-in" href="#!"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 d-flex g-theme-bg-black-v1 g-pa-40">
          <div class="align-self-center w-100">
            <div class="u-heading-v8-2 g-mb-60">
              <h2 class="h1 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 g-color-white g-mb-30">
                Have a <span class="g-color-primary">questions?</span>
              </h2>
            </div>

            <form action = "/contact" method = "post">
              <div class="form-group g-mb-10">
                <input name = "name" class="form-control g-font-size-15 g-font-secondary g-color-white-opacity-0_8 g-placeholder-inherit g-theme-bg-gray-dark-v1 u-shadow-v16 g-brd-none g-rounded-1 g-pa-10" type="text" placeholder="Your name">
              </div>

              <div class="form-group g-mb-10">
                <input class="form-control g-font-size-15 g-font-secondary g-color-white-opacity-0_8 g-placeholder-inherit g-theme-bg-gray-dark-v1 u-shadow-v16 g-brd-none g-rounded-1 g-pa-10" type="tel" name = "phone" placeholder="Your phone">
              </div>

              <div class="form-group g-mb-10">
                <input class="form-control g-font-size-15 g-font-secondary g-color-white-opacity-0_8 g-placeholder-inherit g-theme-bg-gray-dark-v1 u-shadow-v16 g-brd-none g-rounded-1 g-pa-10" type="text" name = "subject" placeholder="Subject">
              </div>

              <div class="form-group g-mb-40">
                <textarea class="form-control g-font-size-15 g-font-secondary g-color-white-opacity-0_8 g-placeholder-inherit g-theme-bg-gray-dark-v1 u-shadow-v16 g-resize-none g-brd-none g-rounded-1 g-pa-10" name = "message" rows="5" placeholder="Message"></textarea>
              </div>

              <button class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 rounded-0 g-py-10 g-px-25" type="submit" role="button">Send Message</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="g-color-gray-dark-v2 g-py-40 mainheader">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center text-md-left g-mb-20 g-mb-0--md">
            <a class="d-inline-block g-width-150" href="/">
              <img class="img-fluid" src="/assets/img/logo.png" alt="Logo">
            </a>
          </div>

          <div class="col-md-6 d-flex align-items-center">
            <p class="text-center text-md-right w-100 mb-0">
              &copy; 2018 All right reserved. Deelopment by
              <a class="g-color-primary g-color-primary--hover" href="http://www.bitsbridge.com">Bits Bridge Pvt.Ltd.</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

</html>
